{% load i18n subdomainurls international %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        {% multilingual_meta request.get_full_path %}
        {% block meta %}

        {% endblock meta %}

        <title>{% block metatitle %}{{ page.title }} | {{ site.name }}{% endblock metatitle %}</title>

        <base href="{{ site.url }}" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base_{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
        {% block stylesheets %}

        {% endblock stylesheets %}

        <!--link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="{{ STATIC_URL }}skin/img/icon-57.png" />
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 132dpi)" href="{{ STATIC_URL }}skin/img/icon-72.png" />
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="{{ STATIC_URL }}skin/img/icon-114.png" /-->
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />

        {% block js_head %}

        {% endblock js_head %}
    </head>
    <body class="{{ LANGUAGE_CODE }}{% if LANGUAGE_BIDI %} rtl{% else %} ltr{% endif %}">

        <section id="nav-panel">
            {% include 'partials/nav-panel.html' %}
        </section>

        <section id="action-panel">
            <span id="nav-anchor"><a href="{% url 'home' %}" title="{% trans "Back to the home page" %}">{% trans 'Open Local Budgets' %} {% if LANGUAGE_BIDI %}&#9668;{% else %}&#9658;{% endif %}</a></span>
            {% block actions %}

            {% endblock actions %}
        </section>

        <section id="content-panel">

            {% block main %}

                    {% block title %}
                    <h1></h1>
                    {% endblock title %}
                <div>
                    {%block content %}

                    {% endblock content %}
                </div>

            {% endblock main %}

        </section>

        <section id="append-panel">
            {% include 'accounts/partials/account_tools.html' %}
        </section>


        {% block overlays %}

        <div id="overlay"><span class="close"><img src="{{ STATIC_URL }}img/close.png" /></span></div>

        {% include 'accounts/partials/account_login.html' %}
        {% include 'accounts/partials/account_register.html' %}
        {% include 'accounts/partials/account_password_reset.html' %}

        {% if user.is_authenticated %}
        {% include 'accounts/partials/account_password_change.html' %}
        {% endif %}

        {% endblock overlays %}


        {% block js_body %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.h5validate.js"></script>
        <script src="{{ STATIC_URL }}js/base.js"></script>

        {% endblock js_body %}
    </body>
</html>
