{% extends 'base.html' %}
{% load i18n %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}importer/main.css"/>
{% endblock stylesheets %}

{% block main %}
<div id="importer" class="uijet_app">
    <div id="form_container">
        <h2 id="import_message"></h2>
        <p id="import_message_exp" class="hide">{% blocktrans %}
            The uploaded data has been successfully validated. We are now initiating a task to save the data into the database. When this task is completed, you will receive an email to confirm the availability of the data.
        {% endblocktrans %}</p>
        <ul id="import_errors"></ul>
        <form id="import_form">
            <fieldset>
                <h2>{% trans 'Data Type' %}</h2>
                <p>{% trans 'Select the type of data that you would like to import.' %}</p>
                <div class="field">
                    <label>{% trans 'Template' %}</label>
                    <input type="radio" name="type" value="template"/>
                </div>
                <div class="field">
                    <label>{% trans 'Sheet' %}</label>
                    <input type="radio" name="type" value="sheet"/>
                </div>
            </fieldset>
            <fieldset id="import_form_type_ext"></fieldset>
            <label for="sourcefile_input">{% trans 'Source file' %}:</label><input type="file" name="sourcefile" id="sourcefile_input"/>
            <span id="import_form_submit">{% trans 'Submit' %}</span>
        </form>
    </div>
</div>
{% endblock main %}

{% block js_body %}
<script>
    var BASE_URL = '{{ STATIC_URL }}',
        UPLOAD_URL = '{{ UPLOAD_URL }}',
        API_INDEX = 'http://api.{{ site|safe }}/',
        API_VERSION = 'v1';
</script>
<script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script src="{{ STATIC_URL }}lib/require.js" data-main="{{ STATIC_URL }}importer/main"></script>
{% endblock js_body %}
