{% extends 'base.html' %}
{% load i18n form_extras %}


{% block actions %}

<div class="identity">
    <div class="avatar">
        <img src="{{ user.avatar }}" />
    </div>
    <div class="name">
        <form id="name-form" action="" method="post" novalidate>
            <fieldset>
                {% field_generator name_form.first_name help=0 %}
                {% field_generator name_form.last_name %}
            </fieldset>
        </form>
    </div>
    <div class="email">
        {{ user.email }}
    </div>
    <div class="language">
        {{ user.language }}
    </div>
    <div class="password">
        {% if LANGUAGE_BIDI %}&#9668;{% else %}&#9658;{% endif %} <a class="password-change-link" href="{% url 'auth_password_change' %}">{% trans 'Change your password' %}</a>
    </div>
    <div class="developer">
        {% if LANGUAGE_BIDI %}&#9668;{% else %}&#9658;{% endif %} <a href="">{% trans 'Manage projects' %}</a>
    </div>
</div>





{% endblock actions %}

{% block title %}

{% endblock title %}

{% block content %}
<div id="filter">
    <select>
        <option>{% trans 'Show everything' %}</option>
        <option>{% trans 'Item comments' %}</option>
        <option>{% trans 'Vizualization states' %}</option>
    </select>
    <span class="arrow">&#x25BC;</span>
</div>

<section id="activities">
    <h1>{% trans 'Activities' %}</h1>
    {% for comment in user.item_comments.all %}
    <div class="activity">
        <div class="desc">
            <h3>{{ comment.get_verbose_name }}<span class="sub">{{ comment.created_on }}</span></h3>
            <h2>{{ comment.item.node.name }}</h2>
        </div>
        <div class="snippet">
            {{ comment.comment }}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock content %}
