{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{{ user.get_full_name }}
{% endblock title %}

{% block content %}

<section class="row account">
    <h2>
        {% trans 'Your account' %}
    </h2>
    <div class="box-2">
        <div class="box-2">
            <h4>
                {% trans 'Username' %}
            </h4>
            <p>
                {{ user.username }}
            </p>
        </div>
        <div class="box-2">
            <h4>
                {% trans 'Email' %}
            </h4>
            <p>
                {{ user.email }}
            </p>
        </div>
        <div class="box-2">
            <h4>
                {% trans 'Update' %}
            </h4>
            <p>
                <a href="{% url 'account_update' user.uuid %}">{% trans 'Update your profile' %}</a>
                <br />
                <a href="{% url 'auth_password_change' %}">{% trans 'Change your password' %}</a>
            </p>
        </div>
    </div>
    <div class="box-2">
        <h3>
            {% trans 'Taxonomies' %}
        </h3>
        <div class="taxonomies">
            {% for taxonomy in user.taxonomies.all %}
            <div class="taxonomy">
                <a href="{% url 'taxonomy_detail' taxonomy.slug %}" title="{{ taxonomy.name }}">{{ taxonomy.name }} [{{ taxonomy.count }} {% trans 'tags' %}]<span class="taxonomy-status {{ taxonomy.get_status_display }}">{{ taxonomy.get_status_display }}</span></a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="row account">
    <div class="box-2">
        <div class="box-2">
            <h3>{% trans 'Starred' %}</h3>
            <div class="stars">
                {% if user.stars %}
                {% for star in user.stars %}
                <div class="star">
                    <a href="{{ star.content_object.get_absolute_url }}" title="">{{ star.content_object }}</a>
                </div>
                {% endfor %}
                {% else %}
                {% trans 'You have not starred any items yet.' %}
                {% endif %}
            </div>
        </div>
        <div class="box-2">
            <h3>{% trans 'Following' %}</h3>
            <div class="follows">
                {% if user.follows %}
                {% for follow in user.follows %}
                <div class="follow">
                    <a href="{{ follow.content_object.get_absolute_url }}" title="">{{ follow.content_object }}</a>
                </div>
                {% endfor %}
                {% else %}
                {% trans 'You are not following any items yet.' %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="box-2">
        <h3>{% trans 'Commented on' %}</h3>
        <div class="comments">
            {% if user.comments %}
            {% for comment in user.comments %}
            <div class="comment">
                <a href="{{ comment.content_object.get_absolute_url }}" title="">{{ comment.content_object.name }}<span class="_float-right _align-right">{{ comment.submit_date|date:"d M Y" }}</span></a>
                <blockquote class="comment-quote">
                    {{ comment.comment|truncatewords:30 }}
                </blockquote>
            </div>
            {% endfor %}
            {% else %}
            {% trans 'You do not have any comments yet.' %}
            {% endif %}
        </div>
    </div>
</section>
<section class="row account">
    <div class="box-3">
        <h3>{% trans 'My files' %}</h3>
        <div class="files">
            {% if user.auxsources.all %}
            {% for auxsource in user.auxsources.all %}
            <div class="file">
                <a href="{% url 'auxsource_detail' auxsource.uuid %}" title="">{% trans 'For' %} {{ auxsource.content_object }}<span class="_float-right _align-right">{{ auxsource.last_modified|date:"d M Y" }}</span></a>
            </div>
            {% endfor %}
            {% else %}
            {% trans 'You have not uploaded any files.' %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}
