.Python
.DS_Store
*.idea
*.sublime-project
*.sublime-workspace
*.db
*.pyc
openbudget/settings/production.py
docs/_build
docs/_static
docs/_templates
openbudget/commons/static/js/lib
openbudget/commons/search