.Python
.DS_Store
*.idea
*.iml
*.sublime-project
*.sublime-workspace
*.db
*.sql
*.pyc
.coverage
/dist/
/*.egg-info
openbudgets/settings/deploy.py
openbudgets/settings/local.py
fabfile/sensitive.yaml
docs/_build
docs/_static
docs/_templates
node_modules
openbudgets/commons/search
static/media/referencesource
static/media/auxsource
tmp/dataset
openbudgets/apps/entities/static/entities/explorer/styles/*.css
!openbudgets/apps/entities/static/entities/explorer/styles/main.css
