.Python
.DS_Store
*.idea
*.sublime-project
*.sublime-workspace
*.db
*.pyc
openbudget/settings/production.py
openbudget/settings/local.py
docs/_build
docs/_static
docs/_templates
openbudget/commons/static/lib
openbudget/commons/search
static/media/referencesource
static/media/auxsource
