yolk
django==1.4.5
gunicorn
south
fabric
sphinx
PIL
pytz
tablib
raven
whoosh
redis
celery
django-celery
git+https://github.com/toastdriven/django-haystack.git
django-autoslug
git+https://github.com/mozilla/unicode-slugify
hg+http://bitbucket.org/ubernostrum/django-registration/
django-uuidfield
django-debug-toolbar
django-braces
django-modeltranslation
django-grappelli
grappelli-modeltranslation
django-rosetta
git+https://github.com/prjts/django-rosetta-grappelli.git
djangorestframework
django-subdomains
