django==1.5.5
djangorestframework==2.3.9
gunicorn
psycopg2
south
pytz==2013b
tablib
celery
factory-boy
coverage
redis
hiredis
pillow
sphinx
raven
gdata
ckanclient
jsonfield
pystache
mock
django-celery
django-oauth-toolkit
django-redis-cache
django-autoslug
django-pdb
django-gravatar2
django-taggit
django-debug-toolbar
django-braces
django-modeltranslation
django-grappelli==2.4.8
django-cors-headers
django-subdomains
grappelli-modeltranslation
git+https://github.com/dcramer/django-uuidfield.git#egg=uuidfield
git+https://github.com/mozilla/unicode-slugify

# upstream still doesn't fully support custom user model
hg+https://bitbucket.org/prjts/django-registration

# temp, while working
git+https://github.com/pwalsh/quilt#egg=quilt
git+https://github.com/pwalsh/dock#egg=dock