yolk
django
gunicorn
south
fabric
sphinx
PIL
pytz
tablib
raven
whoosh
redis
celery
django-celery
factory_boy
gdata
git+https://github.com/toastdriven/django-haystack.git
django-autoslug
django-pdb
git+https://github.com/mozilla/unicode-slugify
hg+https://bitbucket.org/prjts/django-registration
django-taggit
django-uuidfield
django-debug-toolbar
django-braces
django-modeltranslation
django-grappelli
grappelli-modeltranslation
django-rosetta
git+https://github.com/prjts/django-rosetta-grappelli.git
djangorestframework
django-filter
django-oauth2-provider
django-subdomains
jsonfield
