footer.uijet_pane {
    position: absolute;
    bottom: 0;
    left: 3px;
    right: 3px;
    z-index: 1;
    width: auto;
    height: 32px;
    direction: rtl;
    font-size: 16px;
}

#normalization {
    float: left;
    color: #a1a1b9;
}
