{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{% trans 'Your profile' %}
{% endblock title %}

{% block content %}
{{ user.username }}
<br />
{{ user.email }}
<br />
{{ user.get_profile.uuid }}
<br />
<a href="{% url 'auth_password_change' %}">{% trans 'Change password' %}</a>
<br />
<a href="{% url 'user_profile_update' user.get_profile.uuid %}">{% trans 'Update profile' %}</a>
<section>
    <div>
        <h3>{% trans 'Starred' %}</h3>
        <div id="stars">
            {% for star in user.get_profile.stars %}
            <div class="star">
                {{ star }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h3>{% trans 'Following' %}</h3>
        <div id="follows">
            {% for follow in user.get_profile.follows %}
            <div class="follow">
                {{ follow }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h3>{% trans 'Discussion posts' %}</h3>
        <div id="stars">
            {% for post in user.get_profile.comments %}
            <div class="discussion">
                <h4>
                    {% trans 'On' %} {{ post.content_object }}
                    <span>
                        <a href="{{ post.content_object.get_absolute_url }}#comment={{post.uuid}}">
                            -->
                        </a>
                    </span>
                </h4>
                <p>
                    {{ post.comment }}
                </p>
                <p>
                    {% trans 'Submitted' %} {{ post.submit_date }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h3>{% trans 'Item Annotations' %}</h3>
        <div id="annotations">
            {% for annotation in user.get_profile.annotations %}
            <div class="annotation">
                <h4>
                    {% trans 'On' %} {{ annotation.content_object }}
                    <span>
                        <a href="{{ annotation.content_object.get_absolute_url }}#comment={{annotation.uuid}}">
                            -->
                        </a>
                    </span>
                </h4>
                <p>
                    {{ annotation.comment }}
                </p>
                <p>
                    {% trans 'Submitted' %} {{ annotation.submit_date }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}