/* FOUNDATION */
/* FLOW */
/* RESPONSE */
/* COLORS */
/* DESIGN */
/* OPENBUDGETS SCHEME */
/* SEMANTICS */
/* CORE */
/* BUILDING BLOCKS */
/* BOX */
/* The background for all overlay objects */
#overlay {
  display: none;
  position: fixed;
  cursor: pointer;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
#overlay .close {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
}
/* A mixin that declares the base style of all overlay objects */
#overlay-login {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 290px;
  background-color: #d0d0dc;
  display: none;
  height: auto;
  position: fixed;
  top: 25%;
  left: 35%;
  /* Disabled inputs don't catch events.
    We place this on top of the action,
    as long as the submit is disabled
    */

}
#overlay-login h3,
#overlay-login .notices,
#overlay-login .options {
  padding-left: 18px;
  padding-right: 18px;
}
#overlay-login h3 {
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-login a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-login a.weak {
  color: #a4a4bc;
}
#overlay-login a.strong {
  color: #070746;
}
#overlay-login .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  color: #ff0059;
  font-size: 0.875em;
  height: 2.5em;
  line-height: 2.5em;
}
#overlay-login .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 30%;
  position: relative;
}
#overlay-login .disabled-event-catcher {
  position: absolute;
  cursor: pointer;
  height: 2em;
  top: 0;
  left: 0;
  width: 100%;
}
#overlay-login .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-login .options:last-of-type {
  text-align: right;
}
#overlay-register {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 290px;
  background-color: #d0d0dc;
  display: none;
  height: auto;
  position: fixed;
  top: 25%;
  left: 35%;
  /* Disabled inputs don't catch events.
    We place this on top of the action,
    as long as the submit is disabled
    */

}
#overlay-register h3,
#overlay-register .notices,
#overlay-register .options {
  padding-left: 18px;
  padding-right: 18px;
}
#overlay-register h3 {
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-register a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-register a.weak {
  color: #a4a4bc;
}
#overlay-register a.strong {
  color: #070746;
}
#overlay-register .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  color: #ff0059;
  font-size: 0.875em;
  height: 2.5em;
  line-height: 2.5em;
}
#overlay-register .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 30%;
  position: relative;
}
#overlay-register .disabled-event-catcher {
  position: absolute;
  cursor: pointer;
  height: 2em;
  top: 0;
  left: 0;
  width: 100%;
}
#overlay-register .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-register .options:last-of-type {
  text-align: right;
}
#overlay-password-reset {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 290px;
  background-color: #d0d0dc;
  display: none;
  height: auto;
  position: fixed;
  top: 25%;
  left: 35%;
  /* Disabled inputs don't catch events.
    We place this on top of the action,
    as long as the submit is disabled
    */

}
#overlay-password-reset h3,
#overlay-password-reset .notices,
#overlay-password-reset .options {
  padding-left: 18px;
  padding-right: 18px;
}
#overlay-password-reset h3 {
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-password-reset a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-password-reset a.weak {
  color: #a4a4bc;
}
#overlay-password-reset a.strong {
  color: #070746;
}
#overlay-password-reset .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  color: #ff0059;
  font-size: 0.875em;
  height: 2.5em;
  line-height: 2.5em;
}
#overlay-password-reset .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 30%;
  position: relative;
}
#overlay-password-reset .disabled-event-catcher {
  position: absolute;
  cursor: pointer;
  height: 2em;
  top: 0;
  left: 0;
  width: 100%;
}
#overlay-password-reset .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-password-reset .options:last-of-type {
  text-align: right;
}
#overlay-password-change {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 290px;
  background-color: #d0d0dc;
  display: none;
  height: auto;
  position: fixed;
  top: 25%;
  left: 35%;
  /* Disabled inputs don't catch events.
    We place this on top of the action,
    as long as the submit is disabled
    */

}
#overlay-password-change h3,
#overlay-password-change .notices,
#overlay-password-change .options {
  padding-left: 18px;
  padding-right: 18px;
}
#overlay-password-change h3 {
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-password-change a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-password-change a.weak {
  color: #a4a4bc;
}
#overlay-password-change a.strong {
  color: #070746;
}
#overlay-password-change .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  color: #ff0059;
  font-size: 0.875em;
  height: 2.5em;
  line-height: 2.5em;
}
#overlay-password-change .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 30%;
  position: relative;
}
#overlay-password-change .disabled-event-catcher {
  position: absolute;
  cursor: pointer;
  height: 2em;
  top: 0;
  left: 0;
  width: 100%;
}
#overlay-password-change .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-password-change .options:last-of-type {
  text-align: right;
}
