/* @import "../../lib/adaptabl/src/normalize"; */
/* FOUNDATION */
/* FLOW */
/* RESPONSE */
/* COLORS */
/* DESIGN */
/* OPENBUDGETS SCHEME */
/* SEMANTICS */
/* CORE */
/* BUILDING BLOCKS */
/* BOX */
#panel-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 300px;
  height: 100%;
  padding-top: 18px 16px 18px 50px;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  background-color: #00ccc2;
  z-index: 99;
  display: none;
  position: fixed;
  top: 0;
  cursor: pointer;
}
#panel-nav #app_logo {
  padding-top: 35px;
  padding-bottom: 35px;
}
#panel-nav header nav {
  width: 100%;
}
#panel-nav header nav a {
  display: block;
  font-size: 2.75em;
  line-height: 1em;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 26px;
}
#panel-nav footer {
  position: absolute;
  left: 40;
  bottom: 0;
  height: 5em;
  font-size: 1em;
}
#panel-nav footer nav a {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding-right: 26px;
  color: #026a74;
}
#panel-action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 300px;
  height: 100%;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 40px;
  background-color: #d0d0dc;
}
#panel-action h1 {
  margin-top: 1em;
  font-size: 2.75em;
}
#panel-action #nav-anchor {
  display: inline-block;
  cursor: pointer;
}
#panel-action #nav-anchor a {
  text-decoration: none;
  font-weight: bold;
}
#panel-main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 880px;
  height: 100%;
  padding-top: 18px;
  padding-right: 22px;
  padding-bottom: 18px;
  padding-left: 22px;
  background-color: #ffffff;
  overflow: auto;
}
#panel-main #aux {
  height: 4em;
}
#panel-append {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100px;
  height: 100%;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 18px;
  padding-left: 16px;
  background-color: #d0d0dc;
}
