@import "../../lib/adaptabl/src/variables";

/* OPENBUDGETS SCHEME */
@bluegrey: hsl(240, 15%, 84%);
@grey: hsl(240, 14%, 92%);
@midgrey: hsl(240, 13%, 73%);
@lightgrey: hsl(240, 14%, 96%);
@strongblue: hsl(240, 82%, 15%);
@midblue: hsl(240, 26%, 36%);
@green: hsl(186, 51%, 59%);
@midgreen: hsl(177, 99%, 40%);
@dark-green: hsl(186, 63%, 31%);
@pink: hsl(339, 100%, 50%);

/* SEMANTICS */
@color-text: @midblue;
@color-heading: @strongblue;
@color-background: @bluegrey;
@color-link: @strongblue;
@color-button: @white;
@color-button-background: @midgreen;
@panel-nav: @green;
@panel-main: @white;
@panel-action: @bluegrey;
@panel-append: @bluegrey;
