@import "../ltr/panels";

/**********************/
/* jqScroll overrides */
/**********************/
.ui-v-scroller {
    right: auto;
    left: 1px;
}
.ui-v-scroller-grip {
    right: auto;
    left: -1px;
}

#panel-nav {

    right: 0;

    #app_logo {

        #panel-nav-close {
            .coordinates(@top: 0; @left: 20px);
        }
    }

    header {
        a {
            .padding(0; 40px; 0; 20px);
        }
    }
    footer {
        right: 40;

        nav {
            .padding(0; 40px; 0; 20px);
        }

        nav a {
            .padding-right(0);
            .padding-left(12px);
        }

        a#sponsor_logo {

            .padding(0; 40px; 0; 20px);
            background: url('/static/img/sponsor_logo.png') no-repeat right;

            &:hover {
                .color(@white);
                background: url('/static/img/sponsor_logo_white.png') no-repeat right;
            }

        }
    }
}

#panel-action {

    #nav-anchor {
        .padding(0; 40px; 0; 20px);
    }

    h1 {
        .padding(0; 40px; 0; 20px);
    }

    nav {

        a {
            .padding(0; 40px; 0; 20px);
        }
    }
}

#panel-main {

}

#panel-append {
    .padding(0; 20px; 20px; 0);
}
