/* FOUNDATION */
/* FLOW */
/* RESPONSE */
/* COLORS */
/* DESIGN */
/* OPENBUDGETS SCHEME */
/* SEMANTICS */
/* CORE */
/* BUILDING BLOCKS */
/* BOX */
/*******************/
/* ACCOUNT WIDGET  */
/*******************/
.account {
  position: relative;
  text-align: center;
  width: 54px;
  padding-top: 1.25em;
}
.account.auth:hover {
  background-color: #e8e8ed;
}
.account a.login-link {
  color: #a1a1ba;
}
.account .name {
  font-size: 0.875em;
  line-height: 1em;
}
.account .actions {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: auto;
  left: auto;
  display: none;
  width: 186px;
  background-color: #e8e8ed;
}
.account .actions a {
  display: block;
  text-align: left;
  text-decoration: none;
  margin-left: 18px;
  margin-right: 18px;
  font-weight: bold;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #d0d0dc;
}
.account .actions a:last-of-type {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
.account .avatar,
.account .avatar img {
  width: 29px;
  height: 29px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
}
.account:hover .actions {
  display: block;
}
/*******************/
/*  FILTER WIDGET  */
/*******************/
.filter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  clear: both;
}
.filter select {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  background-color: transparent;
  width: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  color: #141452;
  border-radius: 0;
  -webkit-appearance: none;
}
.account .actions {
  top: 50px;
  right: auto;
  bottom: auto;
  left: 0;
}
