{% extends 'tools/tool_base.html' %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}tools/{{ object.slug }}/embed/css/main.css"/>
{% endblock head_css %}

{% block body_js %}
    <script>
        var API_INDEX = 'http://api.{{ site.domain }}/',
            API_VERSION = 'v1',
            TOOL = {{ tool_json|safe }};
            STATE = {{ state_json|safe }};
    </script>
    <script src="{% url 'tools_js_i18n' %}"></script>
    <script src="{{ STATIC_URL }}lib/require.js" data-main="{{ STATIC_URL }}tools/{{ object.slug }}/embed/main"></script>
{% endblock body_js %}
