{% extends 'tools/tool_base.html' %}

{% block head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base_rtl.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}tools/{{ object.slug }}/css/main.css"/>
{% endblock head_css %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <title>{% block metatitle %}{{ page.title }} | {{ site.name }}{% endblock metatitle %}</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raven.js/1.0.8/raven.min.js"></script>
</head>
<body class="tools-ext">
    <div id="right_edge_detector"></div>

    {% block tool_main %}{% endblock %}

    <div id="panel-nav">
        {% include 'partials/nav-panel.html' %}
    </div>

    <section id="panel-append">
        {% include 'accounts/partials/account_tools.html' %}
    </section>

{% block before_tool_main %}
    <div id="right_edge_detector"></div>
{% endblock before_tool_main %}

{% block site_extras %}

        <div id="panel-nav">
            {% include 'partials/nav-panel.html' %}
        </div>

        <section id="panel-append">
            {% include 'accounts/partials/account_tools.html' %}
        </section>

    {% block overlays %}

            <div id="overlay"><span class="close"><img src="{{ STATIC_URL }}img/close.png" /></span></div>

            {% include 'accounts/partials/account_login.html' %}
            {% include 'accounts/partials/account_register.html' %}
            {% include 'accounts/partials/account_password_reset.html' %}

            {% if user.is_authenticated %}
                {% include 'accounts/partials/account_password_change.html' %}
            {% endif %}

    {% endblock overlays %}

{% endblock site_extras %}

{% block body_js %}
    <script>
        var API_INDEX = 'http://{{ site.domain }}/api/',
            API_VERSION = 'v1',
            DEFAULT_AVATAR = '{{ STATIC_URL }}img/avatar_anon.png',
            LOGGEDIN_USER = {{ user_json|safe }},
            TOOL = {{ tool_json|safe }};
    </script>
    <script src="{% url 'tools_js_i18n' %}"></script>
    <script src="{{ STATIC_URL }}vendor/require.js" data-main="{{ STATIC_URL }}tools/{{ object.slug }}/main"></script>
{% endblock body_js %}
</body>
</html>
