{% extends "rest_framework/base.html" %}
{% load i18n subdomainurls %}

{% block meta %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="robots" content="NONE,NOARCHIVE" />
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
{% endblock meta %}

{% block title %}
{% trans 'Open Budget API' %}
{% endblock %}


{% block branding %}
<a href={% url 'api' subdomain='api' %}>
    {% trans 'Open Budget API' %}
</a>
<a href={% url 'home' subdomain='www' %} style="font-size: 0.5em;">
    ...{% trans 'App Home' %}
</a>
{% endblock %}
