/***********/
/* Globals */
/***********/

.main_section_header {
    height: 120px;
    padding: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main_container {
    left: 100px;
    right: 300px;
    padding: 0;
    background-color: #fff;
}
#welcome {
    padding: 18px;
}

/************/
/* Entities */
/************/

#entities_list {
    padding: 0 .5rem;
}
#entities_list li {
    height: 44px;
    padding: .6rem;
    border-bottom: 1px solid #d0d0dc;
    overflow: hidden;
    font-size: 1.3rem;
    line-height: 150%;
    font-weight: bold;
}
#entities_list li:first-child {
    border-top: 1px solid #d0d0dc;
}
#entities_list li:hover {
    background-color: #ffffcd;
}
#entities_list li.removed {
    height: 0;
    padding: 0;
    border-bottom: none;
}
#entities_list_wrapper {
    height: auto;
    text-align: right;
}

#entity_field_wrapper {
    position: absolute;
    right: 18px;
    bottom: 0;
    margin-top: 12px;
}
#entity_selection header {
    position: relative;
}


