.filtercrumb_remove {
    padding: 0;
}
.filtercrumb_remove:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -1.5rem;
    width: 11px;
    height: 11px;
    margin-top: -4px;
    background: url(../img/x_for_search.png) center no-repeat;
}
.filter_content {
    display: inline-block;
}

.uijet_filtercrumb {
    position: relative;
    cursor: pointer;
}

.summarize_data_button {
    padding: .9rem;
}
.summarize_data_button:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-top: 2px;
    margin-left: .5rem;
    border-radius: 5px;
    border: 1px solid #141450;
}
.summarize_data_button.activated {
    color: white;
}
.summarize_data_button.activated:before {
    border-color: white;
    background-color: white;
}

#picker_done {
    position: absolute;
    top: 50%;
    left: 0;
    width: 74px;
    height: 24px;
    margin: -12px 20px 0;
    padding: 2px 0;
    text-align: center;
    font-size: 1.3rem;
    background-color: #1d7680;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
#picker_done.disabled {
    background-color: #646e78;
    color: #d0d0dc;
}

#filters_search {
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 25px;
    height: 25px;
    padding: 1rem;
    background: url(../img/search_icon.png) center no-repeat;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#filters_search_wrapper {
    position: absolute;
    top: 50%;
    left: -5rem;
    width: 25px;
    height: 25px;
    margin-top: -9px;
}
#filters_search_menu {
    font-size: 1.3rem;
}
#filters_search_menu li {
    padding: .5rem 1rem;
    text-align: right;
}
#filters_search_menu li[data-prefix]:before {
    content: attr(data-prefix);
    margin-left: 1rem;
}
#filters_search_menu li:first-child {
    border-bottom: 1px solid #b9b9ca;
}
#filters_search_menu li:hover {
    background-color: #8989a8;
}
#filters_search_menu_wrapper {
    right: 0;
    max-height: 220px;
    padding: 1rem;
    background-color: #d0d0dc;
}

#node_breadcrumb_back:before {
    content: '\2190';
    margin-left: .5rem;
}
#nodes_breadcrumbs, #nodes_breadcrumbs_wrapper {
    display: inline-block;
    height: auto;
    overflow: visible;
    font-size: 1.3rem;
    font-weight: bold;
    color: #4f1c15;
}
#nodes_breadcrumbs .uijet_button {
    padding: 0;
}
#nodes_breadcrumbs_history_wrapper {
    display: inline-block;
    width: auto;
}
#nodes_breadcrumbs_history_menu {
    background-color: #d0d0dc;
}
#nodes_breadcrumbs_history_menu li {
    padding: .5rem 1rem;
}
#nodes_breadcrumbs_history_menu li:before {
    content: '\2190';
    margin-left: .5rem;
}
#nodes_breadcrumbs_history_menu li:first-child:before {
    content: '';
    margin-left: 0;
}
#nodes_breadcrumbs_history_menu li:hover {
    background-color: #8989a8;
}

#nodes_picker {
    background-color: white;
}
#nodes_picker_header {
    position: relative;
}

#nodes_filters_pane_wrapper {
    overflow: visible;
}

#nodes_picker_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    background-color: #6ebec8;
}

#nodes_scope_name {
    position: absolute;
    bottom: 0;
    right: 18px;
    z-index: 1;
    width: auto;
    height: auto;
    font-size: 3.261rem;
    font-weight: normal;
}
#nodes_scope_name_content {
    line-height: 150%;
}

#nodes_search_exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    background: url(../img/x_for_adding_line.png) center no-repeat;
}

#nodes_search_wrapper {
    position: absolute;
    bottom: 0;
    right: 18px;
}

#results_count {
    padding: 1rem 24px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #1d7680;
}

#search_crumb:before {
    content: '>';
    padding-left: 5px;
    vertical-align: bottom;
    color: #d0d0dc;
}

#sheet_type_picker {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 114px;
    font-size: 1.3rem;
    font-weight: bold;
}

#selected_crumb {
    top: -1rem;
}
