{% load i18n gravatar %}
{% load url from future %}

<div class="account">
    {% if user.is_authenticated %}
    <a id="avatar" href="{% url 'account_detail' user.uuid %}"><img src="{% gravatar_url user.email 60 %}" /></a>
    <div class="actions">
        <a href="{% url 'account_detail' user.uuid %}">{% trans 'Account' %}</a>
        <a href="{% url 'auth_logout' %}">{% trans 'Logout' %}</a>
    </div>
    {% else %}
    <a href="{% url 'auth_login' %}">{% trans 'Login' %}</a>
    {% endif %}
</div>
