{% load i18n form_extras %}

<section id="overlay-login">
    <form class="modal active" action="{% url 'auth_login' %}" method="post" novalidate>
        {% csrf_token %}
        <h3>{% trans 'Login for registered users' %}</h3>
        <div class="row">
            <div class="options">
                <a class="register-link strong" href="{% url 'registration_register' %}" title="Register for Free">{% trans 'New user' %}?</a>
            </div>
            <div class="options">
                <a class="password-reset-link weak" href="{% url 'auth_password_reset' %}" title="Forgot password? Reset it here">{% trans 'Forgot password' %}?</a>
            </div>
        </div>
        <fieldset>
            {% field_generator login_form.username %}
            {% field_generator login_form.password %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        </fieldset>
        <div class="row">
            <div class="notices"></div>
            <div class="action">
                {% include 'partials/_form_action_cancel.html' %}
            </div>
        </div>
    </form>
</section>
