{% load i18n form_extras %}

<section id="overlay-password-change">
    <form class="modal" action="" method="post" novalidate>
        {% csrf_token %}
        <h3>{% trans 'Password Change' %}</h3>
        <div class="row">
            <div class="options">
                &nbsp;
            </div>
            <div class="options">
                &nbsp;
            </div>
        </div>
        <fieldset>
            {% field_generator password_change_form.old_password %}
            {% field_generator password_change_form.new_password1 %}
            {% field_generator password_change_form.new_password2 %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        </fieldset>
        <div class="row">
            <div class="notices"></div>
            <div class="action">
                {% include 'partials/_form_action_cancel.html' %}
            </div>
        </div>
    </form>
</section>
