@charset "UTF-8";
@import url('/static/vendor/uijet/src/uijet.css');
@import url('globals.css');
@import url('right.css');
@import url('site-menu.css');
@import url('legend.css');
@import url('main-section.css');
@import url('nodes.css');
@import url('breadcrums.css');
@import url('nodes-list.css');
@import url('chart.css');
