#entity_filter_close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#entities_list {
    text-align: right;
}
#entities_list li {
    padding: .6rem;
    border-bottom: 1px solid lightslategray;
}

#entity_filter {
    background-color: lightgray;
}
