#add_legend {
    border: 1px solid lightslategray;
    background-color: darkgray;
}
#add_legend:hover {
    background-color: lightslategray;
}

#entity_filter_close {
    position: absolute;
    top: .5rem;
    left: .5rem;
    z-index: 1;
    padding: 0;
}

#entities_list {
    text-align: right;
}
#entities_list li {
    padding: .6rem;
    border-bottom: 1px solid lightslategray;
}

#entity_field_wrapper {
    margin-top: 12px;
}

#entity_filter {
    background-color: lightgray;
}
