.filtercrumb_remove {
    padding: 0;
}
.filtercrumb_remove:before {
    content: 'X';
    padding-right: .3rem;
}

#picker_done {
    position: absolute;
    top: 50%;
    left: 0;
    width: 74px;
    height: 24px;
    margin: -12px 20px 0;
    padding: 2px 0;
    text-align: center;
    font-size: 1.3rem;
    background-color: #1d7680;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
#filters_search {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    padding: 0;
    background: url(../img/search_icon.png) center no-repeat;
}
#filters_search_wrapper {
    position: absolute;
    top: 50%;
    left: -3.261rem;
    width: 25px;
    height: 25px;
    margin-top: -9px;
}
#filters_search_menu {
    font-size: 1.3rem;
}
#filters_search_menu li {
    padding: .5rem 1rem;
    text-align: right;
}
#filters_search_menu li:before {
    content: attr(data-prefix);
    margin-left: 1rem;
}
#filters_search_menu li:first-child {
    border-bottom: 1px solid #b9b9ca;
}
#filters_search_menu li:hover {
    background-color: #8989a8;
}
#filters_search_menu_wrapper {
    right: 0;
    max-height: 220px;
    padding: 1rem;
    background-color: #d0d0dc;
}

#node_breadcrumb_back:before {
    content: '> ';
}
#nodes_breadcrumbs, #nodes_breadcrumbs_wrapper {
    display: inline-block;
    height: auto;
    overflow: visible;
}
#nodes_breadcrumbs .uijet_button {
    padding: 0;
}
#nodes_breadcrumbs_history_wrapper {
    display: inline-block;
    width: auto;
}

#nodes_picker {
    background-color: white;
}
#nodes_picker_header {
    position: relative;
}

#nodes_filters_pane_wrapper {
    overflow: visible;
}

#nodes_picker_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    background-color: #6ebec8;
}

#nodes_scope_name {
    position: absolute;
    bottom: 8px;
    right: 18px;
    z-index: 1;
    width: auto;
    height: auto;
    font-size: 3.261rem;
    font-weight: normal;
}

#results_count {
    padding: 1rem 24px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #1d7680;
}
