.node_cell {
    display: table-cell;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5rem 1rem;
    border-bottom: 1px solid darkslategray;
}
.node_cell_code {
    width: 160px;
}
.node_cell_select {
    width: 10px;
}
.node_cell_direction {
    width: 160px;
}

.selectbox {
    position: relative;
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border: 1px outset darkslategray;
    background-color: transparent;
}
.selectbox:before {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 70%;
}
[data-selected=selected] .selectbox:before {
    content: '\2713';
    font-size: 1.3rem;
}
[data-selected=partial] .selectbox:before {
    content: '\2012';
    font-size: 1rem;
    /*background-image: linear-gradient(transparent, transparent 50%, cadetblue 50%, cadetblue);*/
}

#nodes_list {
    display: table;
    padding: .5rem;
    text-align: right;
}
#nodes_list li {
    display: table-row;
    overflow: hidden;
}
#nodes_list li:hover {
    background-color: #ffffcd;
}
#nodes_list li:first-child .node_cell {
    border-top: 1px solid lightslategray;
}
#nodes_list li.search_removed, #nodes_list li.selected_removed {
    height: 0;
    padding: 0;
    border-bottom: none;
}
#nodes_list_container {
    position: absolute;
    top: 120px;
    bottom: 61px;
    left: 0;
    right: 0;
    height: auto;
}
#nodes_list_header {
    display: table;
    padding: .5rem 56px .5rem .5rem;
}
#nodes_list_header li {
    display: table-cell;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .6rem 1rem;
}
#nodes_list_header li.selected:after {
    content: '\25B2';
}
#nodes_list_header li.selected.desc:after {
    content: '\25BC';
}
#nodes_list_header_wrapper {
    
}
[data-column=code], [data-column=direction] {
    width: 160px;
}
