.node_cell {
    display: table-cell;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .9rem 1.3rem;
    border-bottom: 1px solid #d0d0dc;
}
.node_cell_code, .node_cell_direction {
    width: 160px;
    font-size: .9rem;
    color: #8989a8;
}
.node_cell_select {
    width: 10px;
}

.selectbox {
    position: relative;
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border: 1px inset #d0d0dc;
    background-color: transparent;
}
.selectbox:before {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 70%;
}
[data-selected=selected] .selectbox:before {
    content: '\2713';
    font-size: 1.3rem;
}
[data-selected=partial] .selectbox:before {
    content: '\2012';
    font-size: 1rem;
    /*background-image: linear-gradient(transparent, transparent 50%, cadetblue 50%, cadetblue);*/
}
[data-selected=selected] .node_cell_code,
[data-selected=partial] .node_cell_code,
[data-selected=selected] .node_cell_direction,
[data-selected=partial] .node_cell_direction {
    color: #141450;
}
[data-selected=selected], [data-selected=partial] {
    background-color: #ffffcd;
}

#nodes_list {
    display: table;
    padding: 0 .5rem;
    text-align: right;
}
#nodes_list li {
    display: table-row;
    overflow: hidden;
    font-size: 1.3rem;
}
#nodes_list li:hover {
    background-color: #ffffcd;
}
#nodes_list li.search_removed, #nodes_list li.selected_removed {
    display: none;
}
#nodes_list_container {
    position: absolute;
    top: 120px;
    bottom: 61px;
    left: 0;
    right: 0;
    height: auto;
}
#nodes_list_header {
    display: table;
    padding: .5rem .5rem 0;
}
#nodes_list_header li {
    display: table-cell;
    float: none;
    padding: 0 1.3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .9rem;
    color: #8989a8;
    border-bottom: 1px solid #d0d0dc;
}
#nodes_list_header li.selected:after {
    content: '\25B2';
}
#nodes_list_header li.selected.desc:after {
    content: '\25BC';
}
#nodes_list_header [data-column=code] {
    padding-right: 4.8rem;
    width: 206px
}
[data-column=direction] {
    width: 160px;
}
