.uijet_clearabletextinput_wrapper {
    display: inline-block;
    width: auto;
    height: auto;
}
.uijet_button.uijet_clear_button {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 1rem;
    padding: 0;
}
.uijet_clear_button:before {
    content: 'X';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.node-cell-code {
    float: right;
    padding-left: 1rem;
}

#nodes_picker {
    background-color: lightblue;
}
#nodes_list {
    text-align: right;
}
#nodes_list li {
    padding: .6rem;
    border-bottom: 1px solid lightslategray;
}
