#right_container {
    right: 0;
    width: 270px;
    background-color: #d0d0dc;
}


/**********/
/* Legend */
/**********/

.legend_item {
    padding: 15px 36px;
    border-bottom: 1px solid #d0d0dc;
}
.legend_item:hover {
    background-color: #c4c4d3;
}
.legend_item_buttons {
    visibility: hidden;
    overflow: hidden;
}
.legend_item:hover .legend_item_buttons {
    visibility: visible;
}
.legend_item_buttons > .uijet_button {
    visibility: inherit !important;
    float: left;
    padding: .3rem;
}

#add_legend:hover {
    background-color: #c4c4d3;
}
#add_legend:before {
    content: '+';
    float: right;
    width: 1rem;
    padding: 0 1px 3px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 100%;
}

#legend_controls {
    position: absolute;
    top: 120px;
    width: 100%;
    bottom: 0;
}
