.right_menu_heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    margin-top: -50px;
    font-size: 3.261rem;
    font-weight: normal;
}

#right_container {
    right: 0;
    width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #d0d0dc;
}

#site_menu_open {
    color: #7070a0;
}
