.right_menu_heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    margin-top: -50px;
    font-size: 3.261rem;
    font-weight: normal;
}

#right_container {
    right: 0;
    width: 300px;
    background-color: #d0d0dc;
}


/**********/
/* Legend */
/**********/

.legend_item {
    position: relative;
    height: 44px;
    padding: 15px 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #d0d0dc;
}
.legend_item:hover {
    background-color: #c4c4d3;
}
.legend_item_buttons {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 3px 15px;
    overflow: hidden;
    background-color: #c4c4d3;
    -webkit-transition-duration: .2s;
       -moz-transition-duration: .2s;
         -o-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-property: -webkit-transform;
       -moz-transition-property: -moz-transform;
         -o-transition-property: -o-transform;
            transition-property: -ms-transform, transform;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
}
.legend_item:hover .legend_item_buttons {
    visibility: visible;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
}
.legend_item_buttons > .uijet_button {
    visibility: inherit !important;
    float: left;
    padding: .3rem;
}

#add_legend:hover {
    background-color: #c4c4d3;
}
#add_legend:before {
    content: '+';
    float: right;
    width: 1rem;
    padding: 0 1px 3px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 100%;
}
#add_legend.activated:before {
    content: '\25cb';
    line-height: 90%;
}

#legend_controls {
    position: absolute;
    top: 120px;
    width: 100%;
    bottom: 0;
}

#site_menu_open {
    color: #7070a0;
}
