{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base_rtl.css" />
{% if DEBUG %}
    <link rel="stylesheet" href="{{ STATIC_URL }}entities/explorer/styles/main.css"/>
{% else %}
    <link rel="stylesheet" href="{{ STATIC_URL }}entities/explorer/styles/dist.f3bafb5d826c9557.css"/>
{% endif %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <title>{% block metatitle %}{{ page.title }} | {{ site.name }}{% endblock metatitle %}</title>
</head>
<body>
    <div id="explorer" class="uijet_app">
        <div id="right_edge_detector"></div>
        <span id="site_menu_open" class="small_heading">{% trans '<em>Open Muni</em> Budgets' %}</span>
        <section id="main_container" class="top_container">
            <header id="sheet_header">
                <div id="sheet_header_top_container">
                    <span id="sheet_selector">
                        {% trans 'Budget' %}<span id="sheet_selector_content">{{ sheet.period }}</span>
                        <ul id="sheet_selector_menu" class="invisible">
                            {% for sheet in sheets %}
                                <li data-id="{{ sheet.id }}">{{ sheet.period }}</li>
                            {% endfor %}
                        </ul>
                    </span>
                    <ul id="items_breadcrumbs" data-prefix="{% trans 'Search under:' %}">
                        <li data-id="">{% trans 'Main' %}</li><li id="items_breadcrumbs_button">
                            <span id="items_breadcrumbs_button_text">...</span>
                            <ul id="items_breadcrumbs_button_menu">{{ items_breadcrumbs|safe }}</ul>
                        </li>{{ items_breadcrumbs|safe }}
                    </ul>
                </div>

                <div id="sheet_scope_header">
                    <h2 id="sheet_scope_name">
                        <span id="sheet_scope_name_content">{{ scope_name }}</span>
                        <span id="search_crumb"></span>
                    </h2>
                    <div id="sheet_scope_comments"
                         data-id="{{ scope_item.node }}"
                         data-item="{{ scope_item.id }}"
                         class="item_comment_button{% if not scope_item.has_comments %} hide{% else %} has_comments{% endif %}">
                        {% if scope_item.has_comments %}!{% endif %}
                    </div>
                </div>

                <input type="text" name="items_search" id="items_search" placeholder="{% trans 'Search' %}"/>
                <div id="views_switch_buttons">
                    <span id="show_bars"></span>
                    <span id="show_list"></span>
                </div>
                <span id="download_sheet">
                    <ul id="download_sheet_menu">
                        {% if sheet.id %}
                        <li><a href="{% url 'data_export' 'sheet' sheet.id 'csv' %}">CSV</a></li>
                        <li><a href="{% url 'data_export' 'sheet' sheet.id 'xls' %}">XLS</a></li>
                        {% endif %}
                    </ul>
                </span>
                <span id="filters_search"></span>
                <span id="items_search_exit"></span>
            </header>
            <section id="items_list_container">
                <ul id="items_list_header">
                    <li class="items_list_header_node" data-column="type"></li>
                    <li class="items_list_header_node" data-column="code">{% trans 'Order' %}</li>
                    <li class="items_list_header_node" data-column="name">{% trans 'Name' %}</li>
                    <li class="items_list_header_node" data-column="direction">{% trans 'Direction' %}</li>
                    <li class="items_list_header_node" data-column="budget">{% trans 'Budget' %}</li>
                    <li class="items_list_header_node" data-column="actual">{% trans 'Actual' %}</li>
                </ul>
                <ul id="items_list">
                    {{ items_list|safe }}
                </ul>
            </section>
            <section id="bars_container">
                <div id="bars"></div>
            </section>
            <footer id="items_list_footer">
                <span id="results_count"></span>
                <div id="items_list_summary">
                    <span class="item_cell item_cell_type"></span>
                    <span class="item_cell item_cell_code">{{ scope_item.code }}</span>
                    <span class="item_cell item_cell_name"></span>
                    <span class="item_cell item_cell_direction">{{ scope_item.direction }}</span>
                    <span class="item_cell item_cell_budget amount">{{ scope_item.budget }}</span>
                    <span class="item_cell item_cell_actual amount">{{ scope_item.actual}}</span>
                </div>
            </footer>
            <section id="panel-append">
                {% if ui_components.accounts %}
                {% include 'accounts/partials/account_tools.html' %}
                {% endif %}
            </section>
        </section>
        <section id="right_container" class="top_container">
            <h1 id="muni_name" class="right_menu_heading">{{ object.name }}</h1>
            <aside id="contextual_data">
                <p class="context_population"><span class="context_label">{% trans 'Population' %}</span><span class="context_value">{{ contextual_data.population }}</span></p>
                <p class="context_students"><span class="context_label">{% trans 'Students' %}</span><span class="context_value">{{ contextual_data.students }}</span></p>
                <p class="context_ground_surface"><span class="context_label">{% trans 'Ground Surface' %}</span><span class="context_value">{{ contextual_data.ground_surface }}</span></p>
                <p class="context_socioeconomic_index"><span class="context_label">{% trans 'Socio-Economic Index' %}</span><span class="context_value">{{ contextual_data.socioeconomic_index }}</span></p>
            </aside>
        </section>
        <section id="left_container" class="top_container">
            <span id="items_comments_close"></span>
            <div id="items_comments_container">
                <h4 class="small_heading">{% trans 'Explanations' %}</h4>
                <p id="item_description"></p>
                {% comment %}
                <ul id="item_comments_list"></ul>
                <div id="new_comment" class="hide">
                    <textarea id="comment_text" name="comment" placeholder="{% trans 'Enter comment...' %}"></textarea>
                    <div id="new_comment_buttons">
                        <span id="new_comment_ok" class="new_comment_button">{% trans 'Enter' %}</span><span
                            id="new_comment_cancel" class="new_comment_button">{% trans 'Cancel' %}</span>
                    </div>
                </div>
                <span id="add_comment" class="small_heading">{%  trans 'Add comment' %}</span>
                {% endcomment %}
            </div>
        </section>

        <div id="panel-nav">
            {% include 'partials/nav-panel.html' %}
        </div>
    </div>
    {% block overlays %}

        <div id="overlay"></div>

        {% if ui_components.accounts %}
        {% include 'accounts/partials/account_login.html' %}
        {% include 'accounts/partials/account_register.html' %}
        {% include 'accounts/partials/account_password_reset.html' %}
        {% if user.is_authenticated %}
        {% include 'accounts/partials/account_password_change.html' %}
        {% endif %}
        {% endif %}

        {% include 'pages/partials/contact.html' %}

    {% endblock overlays %}
    <script>
        //var API_INDEX = 'http://{{ site.domain }}/api/',
        var API_INDEX = 'http://' + window.location.host + '/api/',
            API_VERSION = 'v1';
            ENTITY = {{ object_json|safe }},
            SHEET = {{ sheet_json|safe }},
            ITEM = {{ scope_item_json|safe }},
            LOGGEDIN_USER = {{ user_json|safe }},
            ITEMS_LIST = {{ items_list_json|safe }},
            CONTEXT = {{ contextual_data_json|safe }};
    </script>
    <script src="{% url 'entities_js_i18n' %}"></script>
{% if DEBUG %}
    <script src="{{ STATIC_URL }}vendor/requirejs/require.js" data-main="{{ STATIC_URL }}entities/explorer/main"></script>
{% else %}
    <script src="{{ STATIC_URL }}entities/explorer/dist.642f4c45fb5c0f06.js"></script>
{% endif %}
</body>
</html>
