{% extends 'base.html' %}
{% load i18n form_extras %}
{% load url from future %}

{% block title %}
{% trans 'Log in to your account' %}
{% endblock title %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<section id="login">
    <form class="box-3 _float-left" action="{% url 'auth_login' %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% field_generator form.username %}
            {% field_generator form.password %}
            {% include 'partials/_form_action_login.html' %}
            <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'auth_password_reset' %}" title="Forgot password? Reset it here">{% trans 'Forgot password' %}?</a>
            &nbsp;|&nbsp;
            <a href="{% url 'registration_register' %}" title="Register for Free">{% trans 'Register for free' %}</a>
        </div>
    </form>
</section>
{% endblock content %}
