{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{% trans 'Password reset complete' %}
{% endblock title %}

{% block main %}
    <p>
        {% trans 'Glad we got all that sorted out' %}.
    </p>
    <p>
        {% trans 'Your password has been reset successfully' %}.
        <br />
        {% trans 'Please use your new credentials to' %} <a href="{% url 'auth_login' %}" title="Login to your account">{% trans 'login to your account now' %}</a>.
    </p>
{% endblock main %}
