{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{% trans 'Done' %}
{% endblock title %}


{% block content %}
{% if form.errors %}
<p>
    {% trans 'Hmmm, something is wrong there. See the error(s) below and try again' %}.
</p>
{% endif %}
<div class="row">
    <div class="box-2 margin-auto">
        {% trans 'You&apos;ve successfully changed your password' %}.<br />
        <a href="{% url 'account_detail' user.get_profile.uuid %}">{% trans 'Go back to your profile' %}.</a>
    </div>
</div>
{% endblock content %}
