{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{{ object.name }}
{% endblock title %}

{% block content %}

<section>
    <h2>
        {% trans 'A tag in the' %} {{ object.taxonomy }} {% trans 'taxonomy by' %} {{ object.taxonomy.user.get_full_name }}
    </h2>
    <h3>
        {% trans 'Tagged Nodes' %}
    </h3>
    <ul>
    {% for nodetag in object.nodetags.all %}
        <li>
            <h4>
                [{{ nodetag.content_object.code }}] {{ nodetag.content_object.name }}
            </h4>
            <h5>
                {% trans 'Budgetary data with this tag' %}
            </h5>
            <p>
                {% trans 'Budgets' %}: {% for item in nodetag.content_object.budget_items %}<a class="tagged-sheet" href="{% url 'sheet_detail' item.budget.uuid %}">{{ item.budget.entity.name }} {{ item.budget.period }}</a> {% endfor %}
            </p>
            <p>
                {% trans 'Actuals' %}: {% for item in nodetag.content_object.actual_items %}<a class="tagged-sheet" href="{% url 'actual_detail' item.actual.uuid %}">{{ item.actual.entity.name }} {{ item.actual.period }}</a> {% endfor %}
            </p>
        </li>
    {% endfor %}
    </ul>
</section>

{% endblock content %}
