{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{% trans 'Home' %}
{% endblock title %}

{% block content %}

<section id="text">
    <h2>התקציב המקומי הפתוח</h2>
    <p>
        ברוכים הבאים לאתר "התקציב המקומי הפתוח" המנגיש את תקציבי הרשויות המקומיות בישראל.
    </p>
    <p>
תקציב הרשות המקומית משקף סדרי עדיפויות הנוגעים לחיי כולנו. "התקציב המקומי הפתוח" מאפשר לנו, התושבים, להבין את המתרחש ברשות המקומית שלנו, קרוב לבית.
    </p>
    <p>
מה המצב בחצר האחורית שלי? האם אני מרוצה ממנו? מה גודלו של תקציב עיריית תל אביב לשנת 2013? מהו תקציב החינוך בקריית ביאליק? מהו תקציב התרבות בכפר שמריהו? היכנסו וחפשו תשובות לשאלות שמעניינות אתכם!    </p>
    <div id="home-boxes">
        <div class="wrapper">
            <a href="{% url 'page' slug='leancdp' %}" class="display-box">
                <h3>מדריך לקריאת התקציב</h3>
                <img src="/static/img/compare.png" />
                <p>
כיצד להבין את התקציב המקומי?
                </p>
            </a>
            <a href="{% url 'entity_list' %}" class="display-box">
                <h3>סייר התקציבים</h3>
                <img src="/static/img/explore.png" />
                <p>
גילוי, היכרות וחיפוש בכל סעיפי התקציב המקומי
                </p>
            </a>
            <a href="{% url 'page' slug='about' %}" class="display-box">
                <h3>רוצים לדעת עוד?</h3>
                <img src="/static/img/about.png" />
                <p>
                    מי אנחנו וכיצד מצטרפים אלינו?
                </p>
            </a>


        </div>
    </div>
</section>

{% endblock content %}

