{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{% trans 'Home' %}
{% endblock title %}

{% block content %}

<section id="text">
    <h2>התקציב המקומי הפתוח</h2>
    <p>
        תקציב הרשות המקומית משקף סדרי עדיפויות הנוגעים לחיי כולנו. אנו בונים כלים להנגשת התקציבים המקומיים ולשיפור ההבנה שלהם בקרב הציבור.
    </p>
    <p>
        מטרתנו היא לעודד תקשורת בין התושבים לבין השלטון המקומי, ולחזק את יכולת ההשפעה שלהם על הרשויות, כדי  לאפשר לנו התושבים להבין את המתרחש ברשות המקומית שלנו, קרוב הבית.
    </p>
    <div id="home-boxes">
        <div class="wrapper">
            <a href="{% url 'page' slug='budget-guide' %}" class="display-box">
                <h3>מדריך לקריאת התקציב</h3>
                <img src="/static/img/compare.png" />
                <p>
                    כיצד מתוקצבת הרשות המקומית? כיצד ניתן לקרוא את התקציב?
                </p>
            </a>
            <a href="{% url 'entity_list' %}" class="display-box">
                <h3>סייר התקציבים</h3>
                <img src="/static/img/explore.png" />
                <p>
                    מאפשר גילוי והיכרות עם כל סעיפי התקציב ברשות המקומית
                </p>
            </a>
            <a href="{% url 'page' slug='about' %}" class="display-box">
                <h3>רוצים לדעת עוד?</h3>
                <img src="/static/img/about.png" />
                <p>
                    מי אנחנו, וכיצד מצטרפים אלינו
                </p>
            </a>


        </div>
    </div>
</section>

{% endblock content %}

