{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{{ page.title }}
{% endblock title %}

{% block actions-content %}

{% if page.children %}
<nav>
{% for child in page.children.all %}
    <a href="{% url 'page' child.slug %}" title="{{ child.title }}">{{ child.title }}</a>
{% endfor %}
    <a href="{% url 'contact' %}" title="{% trans 'Contact' %}" class="contact-link">{% trans 'Contact' %}</a>
</nav>
{% endif %}
{% endblock actions-content %}

{% block content %}

<section id="text">

    <h2>{{ app_name }}</h2>

    {{ page.content|safe }}

</section>

{% endblock content %}
