{% extends 'base.html' %}
{% load i18n form_extras %}
{% load url from future %}

{% block title %}
{% trans 'Enter your new password' %}
{% endblock title %}

{% block content %}
{% trans 'Make sure it is hard for someone else, but easy for you, to remember' %}.

{% if form.errors %}
<p>{% trans 'There was an error in the form. Try again' %}</p>
{% endif %}

<section id="password">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            {% field_generator form.new_password1 custom_class='field-full' %}
            {% field_generator form.new_password2 custom_class='field-full' %}
            <input class="button save" type="submit" value="Change password" />
        </fieldset>
    </form>
</section>
{% endblock content %}
