{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{% trans 'Done' %}
{% endblock title %}


{% block content %}
{% if form.errors %}
<p>Hmmm, something is wrong there. See the error(s) below and try again.</p>
{% endif %}
<div class="row">
    <div class="box-2 margin-auto">
        You've successfully changed your password.<br />
        <a href="{% url 'user_detail' user.get_profile.slug %}">Go back to your account page.</a>
    </div>
</div>
{% endblock content %}
