{% extends 'base.html' %}
{% load i18n form_extras %}
{% load url from future %}

{% block title %}
{% trans 'Reset your password' %}
{% endblock title %}

{% block content %}
{% if form.errors %}
<p>
    {% trans 'There was an error in the form. Try again' %}
</p>
{% endif %}

<p>
    {% trans 'Enter the email address your signed up with, and we&apos;ll begin the password reset process' %}.
</p>

<section id="password">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            {% field_generator form.email %}
        </fieldset>
        <fieldset>
            {% include 'partials/_form_action_submit.html' %}
        </fieldset>
    </form>
</section>

{% endblock content %}
