<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/browser/main.css"/>
    <title>Open Muni Budget | Budget Browser</title>
</head>
<body>
    <div id="budget_browser" class="uijet_app">
        <h1 id="heading">Welcome to Browser Budget 4000</h1>
        <ul id="budgets_list"></ul>
        <div id="spreadsheet"></div>
    </div>
    <script>
        var BASE_URL = '{{ STATIC_URL }}';
    </script>
    <script>
        var ws;
        function socket() {
            ws = new WebSocket("ws://127.0.0.1:8080");
            ws.onmessage = function ( e ) {
                var data = JSON.parse(e.data);
                if ( data.r ) {
                    location.reload();
                }
            };
        }
        setInterval(function () {
            if ( ws ) {
                if ( ws.readyState !== 1 ) {
                    socket();
                }
            } else {
                socket();
            }
        }, 1000);
    </script>
    <script src="{{ STATIC_URL }}js/require.js" data-main="{{ STATIC_URL }}js/browser/main"></script>
</body>
</html>