{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{{ object.geopol.name }} {{ object.period }} {% trans 'budget' %}
{% endblock title %}

{% block content %}
<p>
    <a href="{% url 'entity_detail' object.entity.slug %}">{% trans 'Back to the entity' %}</a>
</p>
{% if object.items %}
{% for item in object.items.all %}
<p>
    <strong>{% trans 'Code' %}</strong>: {{ item.code }}
    <br />
    <strong>{% trans 'Explanation' %}</strong>: {{ item.explanation }}
    <br />
    <strong>{% trans 'Amount' %}</strong>: {{ item.amount }}
    <br />
    <a href="{% url 'budget_item_detail' item.uuid %}">
        {% trans 'View this item' %}
    </a>
</p>
{% endfor %}
{% endif %}

<section>
    <h2>
        {% trans 'Export this Budget' %}
    </h2>
    <div>
    <a href="{% url 'data_export' object.get_class_name object.uuid 'csv' %}">
        {% trans 'CSV' %}
    </a>
    &nbsp;|&nbsp;
    <a href="{% url 'data_export' object.get_class_name object.uuid 'xls' %}">
        {% trans 'XLS' %}
    </a>
    &nbsp;|&nbsp;
    <a href="{% url 'data_export' object.get_class_name object.uuid 'xlsx' %}">
        {% trans 'XLSX' %}
    </a>
</div>
</section>

{% include 'interactions/partials/_discussion.html' %}


{% endblock content %}