{% extends 'base.html' %}
{% load i18n interactions %}
{% load url from future %}

{% block title %}
{{ object.entity.name }} {% trans 'Budget' %} {{ object.period }}
{% endblock title %}

{% block interactions %}
{% if user.is_authenticated %}
<span class="interactions">
{% follow object user %}
{% star object user %}
</span>
{% endif %}
{% endblock interactions %}

{% block content %}

<div class="budget-info">
    <section>
        <h2>
            {{ object.total }} {% trans 'NIS' %}
        </h2>
        <p>
            {{ object.description }}
        </p>
    </section>

    <section class="row">
        <h2>
            {% trans 'Items' %} [{{ object.item_count }} {% trans 'in total' %}]
        </h2>
        {% if object.items %}
        {% for item in object.items.all %}
        <div class="budget-item">
            [{{ item.node.code }}] {{ item.node.name }}
            <br />
            {{ item.amount }} {% trans 'NIS' %}
            <br />
            <a href="{% url 'budget_item_detail' item.uuid %}">
                {% trans 'View' %}
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </section>

    <section class="row" title="{{ object.template.description }}">
        <h3>
            {% trans 'According to the' %} {{ object.template.name }}
        </h3>
        <p>
            {% trans 'The official classificatory scheme, in effect since' %} {{ object.template.period_start.year }}.
        </p>
        <ul>
            <li>
                <a href="#">
                    {% trans 'See all budget data' %}
                </a>
            </li>
            <li>
                <a href="{% url 'budget_template_detail' object.template.uuid %}">
                    {% trans 'About' %}
                </a>
            </li>
        </ul>
    </section>

    <section class="row">
        <h2>
            {% trans 'Alternative taxonomies' %}
        </h2>
        {% if object.template.taxonomies %}
        {% for taxonomy in object.template.taxonomies.all %}
        <div class="budget-taxonomies">
            <h3>
                {{ taxonomy.name }}
            </h3>
            <p>
                {% trans 'By' %} {{ taxonomy.user.get_full_name }}
            </p>
            <p>
            {{ taxonomy.description }}
            </p>
            <ul>
                <li>
                    <a href="#">
                        {% trans 'View through this taxonomy' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'taxonomy_detail' taxonomy.slug %}">
                        {% trans 'About' %}
                    </a>
                </li>
            </ul>
        </div>
        {% endfor %}
        {% else %}
        {% trans 'There are no taxonomies currently available.' %}
        {% endif %}
    </section>
</div>

<div class="budget-actions">
    <section>
        <h2>
            {% trans 'Export this Budget' %}
        </h2>
        <div>
        <a href="{% url 'data_export' object.get_class_name object.uuid 'csv' %}">
            {% trans 'CSV' %}
        </a>
        &nbsp;|&nbsp;
        <a href="{% url 'data_export' object.get_class_name object.uuid 'xls' %}">
            {% trans 'XLS' %}
        </a>
        &nbsp;|&nbsp;
        <a href="{% url 'data_export' object.get_class_name object.uuid 'xlsx' %}">
            {% trans 'XLSX' %}
        </a>
    </section>
    <p>&nbsp;</p>
    <section>
        <h2>
            {% trans 'Related files' %}
        </h2>
        <div>
            <h4>
                {% trans 'Reference files' %}
            </h4>
            <p>
                {% trans 'The source files used to enter this data into the system.' %}
            </p>
            {% if object.referencesources %}
            {% for referencesource in object.referencesources.all %}
                <strong>{{ referencesource.name }}</strong>
                <br />
                <a href="{% url 'referencesource_detail' referencesource.uuid %}" title="{{ referencesource.name }}">
                    {% trans 'View info' %}
                </a>
                &nbsp;|&nbsp;
                <a href="{{ referencesource.url }}" title="{{ referencesource.name }}">
                    {% trans 'Download file' %}
                </a>
            {% endfor %}
            {% else %}
                {% trans 'We have no stored reference sources.' %}
            {% endif %}
        </div>
        <div>
            <h4>
                {% trans 'Auxiliary files' %}
            </h4>
            <p>
                {% trans 'Files uploaded by other users.' %}
            </p>
            {% if object.auxsources %}
            {% for auxsource in object.auxsources.all %}
                <strong>{{ auxsource.name }}</strong>
                <br />
                <span>{% trans 'added by' %} {{ auxsource.added_by.get_full_name }}</span>
                <br />
                <a href="{% url 'auxsource_detail' auxsource.uuid %}" title="{{ auxsource.name }}">
                    {% trans 'View info' %}
                </a>
                &nbsp;|&nbsp;
                <a href="{{ auxsource.url }}" title="{{ auxsource.name }}">
                    {% trans 'Download file' %}
                </a>
            {% endfor %}
            {% else %}
                {% trans 'We have no stored reference sources.' %}
            {% endif %}
        </div>
    </section>
    <p>&nbsp;</p>
    <section>
        <h3>
            {% trans 'See something else' %}
        </h3>
        <ul>
            <li>
                <a href="{% url 'entity_detail' object.entity.slug %}">
                    {{ object.entity.name }}
                </a>
            </li>
            <li>
                <a href="{% url 'entity_list' %}">
                    {% trans 'All municipalities' %}
                </a>
            </li>
        </ul>
        <p>
    </section>
</div>
{% endblock content %}