.new_comment_button {
    padding-top: 0;
    padding-right: 0;
    text-decoration: underline;
    font-weight: bold;
}

.item_comment_date {
    display: inline-block;
}

.item_comment_text {
    margin-top: 10px;
}

.item_comment_user_avatar {
    position: absolute;
    top: 3px;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background-position: right top;
    background-repeat: no-repeat;
}
.item_comment_user_name {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.item_comment_user_name:before {
    content: attr(data-prefix);
    margin-left: .5rem;
}

#add_comment {
    padding-top: 0;
    padding-right: 0;
}

#comment_text {
    min-height: 2.5rem;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    resize: none;
}
#comment_text::-webkit-input-placeholder, /* WebKit browsers */
#comment_text:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
#comment_text::-moz-placeholder, /* Mozilla Firefox 19+ */
#comment_text:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #a1a1b9;
}

#items_comments_close {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 54px;
    height: 54px;
    background: url(../img/x_close_gray.png) 20px 20px no-repeat;
}

#items_comments_container {
    padding-right: 76px;
}

#items_comments_container.no_description #item_description {
    display: none;
}
#items_comments_container.no_description #add_comment {
    padding-top: 0;
}
#items_comments_container.no_description h4 {
    display: none;
}

#items_comments_container h4 {
    margin-bottom: 20px;
    line-height: .9rem;
}

#items_comments_container_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#item_comments_list li {
    position: relative;
    padding-right: 40px;
    padding-bottom: 20px;
}
#item_comments_list li[data-uuid=""] {
    padding-bottom: 0;
}

#item_comments_list_wrapper {
    height: auto;
}

#item_description {
    margin-bottom: 20px;
}

#left_container {
    position: absolute;
    left: 0;
    width: 360px;
    padding: 0;
}

#new_comment {
    padding-right: 40px;
}
