.main_section_header {
    height: 120px;
    padding: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main_container {
    left: 360px;
    right: 300px;
    padding: 0;
    background-color: #fff;
}
