#muni_name {
    position: absolute;
    top: 60px;
    right: 40px;
    font-size: 3.261rem;
    font-weight: normal;
}

#right_container {
    right: 0;
    width: 300px;
    padding-right: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #d0d0dc;
}
