.filtercrumb_remove {
    padding: 0;
}
.filtercrumb_remove:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -1.5rem;
    width: 11px;
    height: 11px;
    margin-top: -4px;
    background: url(../img/x_for_search.png) center no-repeat;
}
.filter_content {
    display: inline-block;
}

.uijet_filtercrumb {
    position: relative;
    cursor: pointer;
}

#filters_search {
    width: 54px;
    height: 66px;
    padding: 0;
    background: url(../img/glass_blue.png) center no-repeat;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#filters_search_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}
#filters_search_wrapper:hover {
    background-color: #d0d0dc;
}
#filters_search_menu {
    font-size: 1.3rem;
}
#filters_search_menu li {
    height: 44px;
    line-height: 44px;
    padding: 0 1rem;
    text-align: right;
}
#filters_search_menu li[data-prefix]:before {
    content: attr(data-prefix);
}
#filters_search_menu li[data-prefix]:after {
    content: '"';
}
#filters_search_menu li:first-child {
    border-bottom: 1px solid white;
}
#filters_search_menu li:hover {
    background-color: #a1a1b9;
}
#filters_search_menu_wrapper {
    left: 0;
    max-height: 320px;
    background-color: #d0d0dc;
}

#items_breadcrumbs {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 1.3rem;
    font-weight: bold;
}
#items_breadcrumbs.searching {
    float: right;
    margin-top: 18px;
    margin-right: 18px;
}
#items_breadcrumbs.searching:before {
    content: attr(data-prefix);
    margin-left: .5rem;
}
#items_breadcrumbs.searching li:last-child {
    display: inline-block;
}
#items_breadcrumbs li {
    float: none;
}
#items_breadcrumbs li:last-child {
    display: none;
}
#items_breadcrumbs li + li:before {
    content: '\2190';
    margin-left: .5rem;
}

#items_search_exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 66px;
    padding: 0;
    background: url(../img/x_icon_blue.png) center no-repeat;
}

#items_search_wrapper {
    position: absolute;
    top: 60px;
    right: 18px;
}

#search_crumb:before {
    content: '>';
    padding-left: 5px;
    vertical-align: bottom;
    color: #d0d0dc;
}

#sheet_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
}

#sheet_header_top_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition-property: right;
       -moz-transition-property: right;
        -ms-transition-property: right;
         -o-transition-property: right;
            transition-property: right;
    -webkit-transition-duration: 100ms;
       -moz-transition-duration: 100ms;
        -ms-transition-duration: 100ms;
         -o-transition-duration: 100ms;
            transition-duration: 100ms;
    -webkit-transition-timing-function: ease-in;
       -moz-transition-timing-function: ease-in;
        -ms-transition-timing-function: ease-in;
         -o-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
}

#sheet_scope_name {
    position: absolute;
    top: 60px;
    right: 18px;
    z-index: 1;
    width: auto;
    height: auto;
    font-size: 3.261rem;
    font-weight: normal;
}

#sheet_selector {
    position: relative;
    padding: 18px 18px 18px 0;
    font-size: 1.3rem;
    font-weight: bold;
}
#sheet_selector:hover, #sheet_selector.activated {
    background-color: #d0d0dc;
}
#sheet_selector_content {
    padding: 0 .5rem;
}
#sheet_selector_content:after {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 2rem;
    background: url(../img/arrow_down_normalize.png) center no-repeat;
}
#sheet_selector_menu {
    visibility: hidden;
}
#sheet_selector_menu li {
    height: 44px;
    padding-left: 2.5rem;
    line-height: 44px;
    text-align: left;
}
#sheet_selector_menu li:hover, #sheet_selector_menu li.selected {
    background-color: #a1a1b9;
}
#sheet_selector_menu_wrapper {
    background-color: #d0d0dc;
    right: 0;
    width: 100%;
}
