#items_breadcrumbs {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 1.3rem;
    font-weight: bold;
}
#items_breadcrumbs li {
    float: none;
}
#items_breadcrumbs li + li:before {
    content: '\2190';
    margin-left: .5rem;
}

#items_search_wrapper {
    position: absolute;
    top: 60px;
    right: 18px;
}

#sheet_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
}

#sheet_scope_name {
    position: absolute;
    top: 60px;
    right: 18px;
    z-index: 1;
    width: auto;
    height: auto;
    font-size: 3.261rem;
    font-weight: normal;
}

#sheet_selector {
    position: relative;
    padding: 18px 18px 18px 0;
    font-size: 1.3rem;
    font-weight: bold;
}
#sheet_selector:hover, #sheet_selector.activated {
    background-color: #d0d0dc;
}
#sheet_selector_content {
    padding: 0 .5rem;
}
#sheet_selector_content:after {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 2rem;
    background: url(../img/arrow_down_normalize.png) center no-repeat;
}
#sheet_selector_menu li {
    height: 44px;
    padding-left: 2.5rem;
    line-height: 44px;
    text-align: left;
}
#sheet_selector_menu li:hover, #sheet_selector_menu li.selected {
    background-color: #a1a1b9;
}
#sheet_selector_menu_wrapper {
    background-color: #d0d0dc;
    right: 0;
    width: 100%;
}
