@import url('/static/css/partials/rtl/panels.css');

/** patching panels.css */
#panel-nav footer a#sponsor_logo {
    float: none;
}

#right_edge_detector {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 100%;
}

#panel-nav {
    position: absolute;
    top: 0;
    right: -300px;
    float: none;
    z-index: 1001;
    width: 300px;
    height: 100%;
    -webkit-transition-duration: 100ms;
}
#panel-nav.slide_out {
    -webkit-transition-timing-function: ease-in;
}
#panel-nav.slide_in {
    -webkit-transition-timing-function: ease-out;
    -webkit-transform: translate3d(-300px,0,0);
    -moz-transform: translate(-300px,0);
    -ms-transform: translate(-300px,0);
    -o-transform: translate(-300px,0);
    transform: translate(-300px,0);
}
#site_menu_open {
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 42px;
    color: #7070a0;
}
#site_menu_open:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background: url(../img/arrow_left_logp_menu.png) center no-repeat;
}
