@import url('/static/css/partials/rtl/panels.css');

#right_edge_detector {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 100%;
    z-index: 1;
}
.comments_open #right_edge_detector {
    right: 260px;
}

/** patching panels.css */
#panel-nav {
    display: block;
    position: absolute;
    top: 0;
    right: -300px;
    float: none;
    z-index: 1001;
    width: 300px;
    height: 100%;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -ms-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
}
.comments_open #panel-nav {
    right: -40px;
}
#panel-nav header a {
    font-size: 47px;
    line-height: 55px;
}
#panel-nav footer {
    bottom: 20px;
    height: auto;
}
#panel-nav footer a#sponsor_logo {
    float: none;
    margin-bottom: 30px;
}

#panel-nav.slide_out {
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
#panel-nav.slide_in {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform: translate3d(-300px,0,0);
    -moz-transform: translate(-300px,0);
    -ms-transform: translate(-300px,0);
    -o-transform: translate(-300px,0);
    transform: translate(-300px,0);
}

#site_menu_open {
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 42px;
    color: #7070a0;
    z-index: 1;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -ms-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
#site_menu_open:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background: url(../img/arrow_left_logp_menu.png) center no-repeat;
}
