{% extends "rest_framework/base.html" %}
{% load i18n subdomainurls %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="/static/css/api.css" type="text/css">
{% endblock %}

{% block meta %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="robots" content="NONE,NOARCHIVE" />
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
{% endblock meta %}

{% block title %}
{% trans 'Open Budget API' %}
{% endblock %}


{% block branding %}
<a href={% url 'api' %}>{% trans 'Open Budgets API' %}</a>
<a style="float: right;" href={% url 'home' subdomain='www' %}>{% trans 'Home' %}</a>
{% endblock %}
