<div class="field {{ custom_class }}" {% if inline_styles %}style="{{ inline_styles }}{% endif %}">
    {% if hidden %}
    {% comment %}
    Don't show a label if the field should be hidden
    {% endcomment %}
    {% else %}

    {{ field.label }}
    {% if field.help_text %}
    <i class="field-help icon-info-sign" title="{{ field.help_text }}"></i>
    {% endif %}
    {% if field.errors %}
    <span class="field-errors">
        {% for error in field.errors %}
        <p class="error">
        <i class="icon-warning-sign"></i>{{ error|escape }}
        </p>
        {% endfor %}
    </span>
    {% endif %}

    {% endif %}

    {{ field }}
</div>
