{% load i18n subdomainurls international %}


<header>
{% block header %}
    <div id="app_logo">
        <a href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/app_logo.png"/></a>
        <div id="panel-nav-close"></div>
    </div>
    <nav>
        {% spaceless %}
        {% block nav %}
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        <a href="{% url 'entity_list' %}">{% trans 'Entities' %}</a>
        <a href="{% url 'project_list' %}">{% trans 'Projects' %}</a>
        <a href="{% url 'page' slug='about' %}">{% trans 'About' %}</a>
        {% endblock nav %}
        {% endspaceless %}
    </nav>
{% endblock header %}
</header>
<footer>
    {% block footer %}
    <a id="sponsor_logo" href="http://www.hasadna.org.il/" target="_blank">
        {{ sponsor_name_list.0 }}<br />
        {{ sponsor_name_list.1 }}<br />
        {{ sponsor_name_list.2 }}
    </a>
    <nav>
        <a href="#">{% trans 'Credits' %}</a>
        <a href="{% url 'page' slug='terms' %}">{% trans 'Terms' %}</a>
        <a href="{% url 'page' slug='privacy' %}">{% trans 'Privacy' %}</a>
        <a href="{% url 'page' slug='contact' %}">{% trans 'Contact' %}</a>
        <a href="{% url 'api' subdomain='api' %}">{% trans 'API' %}</a>
    </nav>
    {% comment %}
    <div>
        {% language_switch request.get_full_path %}
    </div>
    {% endcomment %}
    {% endblock footer %}
</footer>
