/* FOUNDATION */
/* FLOW */
/* RESPONSE */
/* COLORS */
/* DESIGN */
/* OPENBUDGETS SCHEME */
/* SEMANTICS */
/* CORE */
/* BUILDING BLOCKS */
/* BOX */
/* The background for all overlay objects */
#overlay {
  display: none;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}
/* A mixin that declares the base style of all overlay objects */
#overlay-login {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 290px;
  height: 180px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #d0d0dc;
}
#overlay-login h3,
#overlay-login .notices,
#overlay-login .options {
  padding-right: 20px;
  padding-left: 20px;
}
#overlay-login h3 {
  position: relative;
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-login a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-login a.weak {
  color: #a4a4bc;
}
#overlay-login a.strong {
  color: #141452;
}
#overlay-login .close {
  position: absolute;
  top: 0;
  right: -37px;
  bottom: auto;
  left: auto;
  height: 17px;
  width: 17px;
  cursor: pointer;
  background: url('/static/img/close_white.png') no-repeat;
}
#overlay-login .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  color: #ff0059;
  font-size: 0.75em;
  height: 2.5em;
  line-height: 3.5em;
}
#overlay-login .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 87px;
  position: relative;
  float: right;
}
#overlay-login .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-login .options:last-of-type {
  text-align: right;
}
#overlay-register {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 290px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #d0d0dc;
}
#overlay-register h3,
#overlay-register .notices,
#overlay-register .options {
  padding-right: 20px;
  padding-left: 20px;
}
#overlay-register h3 {
  position: relative;
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-register a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-register a.weak {
  color: #a4a4bc;
}
#overlay-register a.strong {
  color: #141452;
}
#overlay-register .close {
  position: absolute;
  top: 0;
  right: -37px;
  bottom: auto;
  left: auto;
  height: 17px;
  width: 17px;
  cursor: pointer;
  background: url('/static/img/close_white.png') no-repeat;
}
#overlay-register .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  color: #ff0059;
  font-size: 0.75em;
  height: 2.5em;
  line-height: 3.5em;
}
#overlay-register .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 87px;
  position: relative;
  float: right;
}
#overlay-register .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-register .options:last-of-type {
  text-align: right;
}
#overlay-password-reset {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 290px;
  height: 140px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #d0d0dc;
}
#overlay-password-reset h3,
#overlay-password-reset .notices,
#overlay-password-reset .options {
  padding-right: 20px;
  padding-left: 20px;
}
#overlay-password-reset h3 {
  position: relative;
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-password-reset a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-password-reset a.weak {
  color: #a4a4bc;
}
#overlay-password-reset a.strong {
  color: #141452;
}
#overlay-password-reset .close {
  position: absolute;
  top: 0;
  right: -37px;
  bottom: auto;
  left: auto;
  height: 17px;
  width: 17px;
  cursor: pointer;
  background: url('/static/img/close_white.png') no-repeat;
}
#overlay-password-reset .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  color: #ff0059;
  font-size: 0.75em;
  height: 2.5em;
  line-height: 3.5em;
}
#overlay-password-reset .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 87px;
  position: relative;
  float: right;
}
#overlay-password-reset .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-password-reset .options:last-of-type {
  text-align: right;
}
#overlay-password-change {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 290px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #d0d0dc;
}
#overlay-password-change h3,
#overlay-password-change .notices,
#overlay-password-change .options {
  padding-right: 20px;
  padding-left: 20px;
}
#overlay-password-change h3 {
  position: relative;
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-password-change a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-password-change a.weak {
  color: #a4a4bc;
}
#overlay-password-change a.strong {
  color: #141452;
}
#overlay-password-change .close {
  position: absolute;
  top: 0;
  right: -37px;
  bottom: auto;
  left: auto;
  height: 17px;
  width: 17px;
  cursor: pointer;
  background: url('/static/img/close_white.png') no-repeat;
}
#overlay-password-change .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  color: #ff0059;
  font-size: 0.75em;
  height: 2.5em;
  line-height: 3.5em;
}
#overlay-password-change .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 87px;
  position: relative;
  float: right;
}
#overlay-password-change .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-password-change .options:last-of-type {
  text-align: right;
}
#overlay-contact {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 600px;
  height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #d0d0dc;
}
#overlay-contact h3,
#overlay-contact .notices,
#overlay-contact .options {
  padding-right: 20px;
  padding-left: 20px;
}
#overlay-contact h3 {
  position: relative;
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-contact a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-contact a.weak {
  color: #a4a4bc;
}
#overlay-contact a.strong {
  color: #141452;
}
#overlay-contact .close {
  position: absolute;
  top: 0;
  right: -37px;
  bottom: auto;
  left: auto;
  height: 17px;
  width: 17px;
  cursor: pointer;
  background: url('/static/img/close_white.png') no-repeat;
}
#overlay-contact .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  color: #ff0059;
  font-size: 0.75em;
  height: 2.5em;
  line-height: 3.5em;
}
#overlay-contact .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 87px;
  position: relative;
  float: right;
}
#overlay-contact .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-contact .options:last-of-type {
  text-align: right;
}
#overlay-contact h3 {
  line-height: 4em;
  padding-top: 0;
}
