{% load i18n subdomainurls international %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        {% multilingual_meta request.get_full_path %}
        {% block meta %}

        {% endblock meta %}

        <title>{% block metatitle %}{{ page.title }} | {{ site.name }}{% endblock metatitle %}</title>

        <base href="{{ site.url }}" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base_{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
        {% block stylesheets %}

        {% endblock stylesheets %}

        <!--link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="{{ STATIC_URL }}skin/img/icon-57.png" />
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 132dpi)" href="{{ STATIC_URL }}skin/img/icon-72.png" />
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="{{ STATIC_URL }}skin/img/icon-114.png" /-->
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />

        {% block js_head %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/raven.js/1.0.8/raven.min.js"></script>
        {% endblock js_head %}
    </head>
    <body class="{{ LANGUAGE_CODE }}{% if LANGUAGE_BIDI %} rtl{% else %} ltr{% endif %}">

        <section id="panel-nav">
            {% include 'partials/nav-panel.html' %}
        </section>

        <section id="panel-action">
            <span id="nav-anchor"><a href="{% url 'home' %}" title="{% trans "Back to the home page" %}"><strong>{{ app_name_list.0 }} {{ app_name_list.1 }}</strong> {{ app_name_list.2 }} {% if LANGUAGE_BIDI %}›{% else %}›{% endif %}</a></span>
            {% block actions %}

            <h1>{% block title %}{% endblock title %}</h1>

            {% block actions-content %}

            {% endblock actions-content %}

            {% endblock actions %}
        </section>

        <div id="main-wrapper">
            <section id="panel-main">

            {% block main %}

            <section id="aux">

            </section>

            {%block content %}

            {% endblock content %}

            {% endblock main %}

            </section>
        </div>

        <section id="panel-append">
            {% include 'accounts/partials/account_tools.html' %}
        </section>

        {% block overlays %}

        <div id="overlay"></div>

        {% include 'accounts/partials/account_login.html' %}
        {% include 'accounts/partials/account_register.html' %}
        {% include 'accounts/partials/account_password_reset.html' %}
        {% include 'pages/partials/contact.html' %}

        {% if user.is_authenticated %}
        {% include 'accounts/partials/account_password_change.html' %}
        {% endif %}

        {% endblock overlays %}


        {% block js_body %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}vendor/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="{{ STATIC_URL }}vendor/jqScroll/jqscroll.js"></script>
        <script src="{{ STATIC_URL }}js/base.js"></script>
        <script src="{{ STATIC_URL }}src/pages.js"></script>
        {% endblock js_body %}
    </body>
</html>
