@import "base_ltr.less";

@direction: rtl;
@-direction: ltr;
@alignment: right;
@-alignment: left;
@float: right;
@-float: left;

/*...BOOM...*/

.field {
    &.half.first input {
        border-left: 1px solid @bluegrey;
    }
}

#overlay {
    .close {
        right: none;
        left: 10px;
    }
}

.overlay-object {
        .options {

        &:last-of-type {
            text-align: left;
        }
    }
}

#nav-panel {
    right: 0;
    .padding-right(50px);

    footer {
        right: 40;

        nav a {
            .padding-right(0);
            .padding-left(26px);
        }
    }
}

#action-panel {
    .padding-right(40px);
    .padding-left(16px);
}

#append-panel {
    .padding-right(16px);
}

#content-panel {

    .padding-right(40px);
    .padding-left(0);
}

#activities {
    .activity {

        .desc {
            .padding-right(0);
            .padding-left(10%);
        }
    }
}
