._object{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;}
._locale-direction{direction:ltr;}
._locale-alignment{float:left;}
._locale-float{float:left;}
._locale-magic{direction:ltr;text-align:left;float:left;}
._locale-magic-reverse{direction:ltr;text-align:right;float:right;}
._full-width{width:100%;}
._full-height{height:100%;}
._float-left{float:left;}
._float-right{float:right;}
._float-none{float:none;}
._overflow-auto{overflow:auto;}
._align-center{text-align:center;}
._align-justify{text-align:justify;}
._align-right{text-align:right;}
._align-left{text-align:left;}
._clear{clear:both;}
._clear-left{clear:left;}
._clear-right{clear:right;}
._clear-none{clear:none;}
._display-inline{display:inline;}
._display-block{display:block;}
._display-inline-block{display:inline-block;}
._reset-margin-padding{margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;}
._font-stack{font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;font-size:1em;line-height:1.5em;letter-spacing:0.025em;color:#333333;background-color:#ffffff;}
._italic{font-style:italic;}
._bold{font-weight:bold;}
._border-box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video{margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;border-top:0;border-right:0;border-bottom:0;border-left:0;}
article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video{display:block;}
a img{border-top:0;border-right:0;border-bottom:0;border-left:0;}
body,html{width:100%;direction:ltr;text-align:left;float:left;font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;font-size:1em;line-height:1.5em;letter-spacing:0.025em;color:#333333;background-color:#ffffff;}@media only screen and (min-width : 480px){body,html{-webkit-text-size-adjust:none;}}
.wrapper{margin:0 auto;overflow:auto;width:100%;}@media only screen and (min-width : 960px){.wrapper{width:960px;}}
.row{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;clear:both;}
header,nav,#main,footer{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;clear:both;}
article{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 5%;}@media only screen and (min-width : 960px){article{float:left;width:75%;}}
aside{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 0 0 3%;}@media only screen and (min-width : 960px){aside{float:left;width:25%;}}
h1,h2,h3,h4,h5,h6{margin-bottom:0.25em;margin-top:0.5em;}
h1,h2,h3,h4{font-weight:normal;}
h1{font-size:1.75em;color:#000000;}
h2{font-size:1.5em;color:#333333;}
h3{font-size:1.25em;color:#404040;}
h4{font-size:1.125em;color:#4d4d4d;}
h5{font-size:1.075em;color:#595959;}
h6{font-size:1.025em;color:#595959;}
div,p,ol ul,li,input,select,textarea,label,blockquote,pre,code{font-weight:300;}
p,ol ul,input,select,textarea,label,blockquote,pre,code{margin-bottom:1em;}
ol,ul{margin-left:2em;}
blockquote{font-size:2em;line-height:1.125em;font-family:Georgia,serif;font-style:italic;}
a{color:#2badee;}a:hover{color:#0d73a5;}
pre{border:1px dotted #990066;padding:10px;background-color:#383838;color:#EBEBEB;word-wrap:break-word;}
code{font-family:monospace;font-size:1em;word-wrap:break-word;}
input,select,select[multiple],textarea{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;font-size:1em;line-height:1.5em;letter-spacing:0.025em;color:#333333;background-color:#ffffff;border-width:1px;border-style:solid;border-color:#cccccc;-webkit-border-radius:0.2em;-moz-border-radius:0.2em;border-radius:0.2em;margin-bottom:1em;-webkit-outline-offset:0;color:#4d4d4d;}input:focus,select:focus,select[multiple]:focus,textarea:focus{outline:none;border-width:1px;border-style:solid;border-color:#d0edfb;-webkit-box-shadow:0 0 6px 0 #d0edfb;-moz-box-shadow:0 0 6px 0 #d0edfb;box-shadow:0 0 6px 0 #d0edfb;}
input:hover,select:hover,select[multiple]:hover,textarea:hover{cursor:pointer;}
label{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;font-size:1em;line-height:1.5em;letter-spacing:0.025em;color:#333333;background-color:#ffffff;margin-bottom:0;}
textarea{min-height:5em;}
input[type="checkbox"]{clear:none;float:none;width:10%;}
label.for-checkbox{float:none;clear:none;width:90%;}
input[type="file"]{border:none;-webkit-box-shadow:0 0 0 0 transparent;-moz-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent;}
select[multiple]{min-height:4em;}
.button{-webkit-border-radius:0.2em;-moz-border-radius:0.2em;border-radius:0.2em;border-width:1px;border-style:solid;border-color:#808080;text-align:center;display:inline-block;text-decoration:none;font-size:1em;line-height:2.25em;white-space:nowrap;background-color:#808080;color:#ffffff;padding-left:0.5em;padding-right:0.5em;}.button:hover{color:#e8e8e8;background-color:#8c8c8c;}
table{width:100%;border-collapse:collapse;border-bottom:1em solid #cccccc;}
table tr:nth-of-type(even){background-color:#f7f7f7;}
table tr:nth-of-type(odd){background-color:#fcfcfc;}
table td{border:none;padding:2px 6px;}table td tr td{padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;}
table .actions{text-align:center;width:4em;}table .actions .button{clear:both;float:left;width:3em;margin-top:0.125em;margin-bottom:0.125em;}
table thead{font-weight:bold;}table thead tr,table thead tr:nth-of-type(odd){background-color:#cccccc;height:2.5em;}table thead tr td a,table thead tr:nth-of-type(odd) td a{-webkit-border-radius:0.2em;-moz-border-radius:0.2em;border-radius:0.2em;padding-top:0.125em;padding-bottom:0.125em;padding-right:5%;padding-left:1%;background-color:#C2C2C2;color:#141414;text-decoration:none;}table thead tr td a:hover,table thead tr:nth-of-type(odd) td a:hover{background-color:#F5F5F5;}
html,body{height:100%;}
#sticky{height:100%;}
section#main{overflow:auto;padding-bottom:10em;}
footer{position:relative;margin-top:-10em;height:10em;clear:both;}
header{background-color:#e6e6e6;}
footer{background-color:#e6e6e6;}
nav{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:4em;line-height:4em;}nav .logo{font-size:3em;}
form{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;}form .field .field-errors,form .double-field .field-errors{font-size:0.75em;color:#ee2b2b;}form .field .field-errors .error,form .double-field .field-errors .error{margin-top:0;margin-left:0;margin-bottom:0;margin-right:0;}form .field .field-errors .error i,form .double-field .field-errors .error i{padding:0 0.25em;}
form .field .field-help,form .double-field .field-help{float:right;font-size:0.75em;color:#b3b3b3;}
.messages{margin-bottom:1em;}
.padding-left{padding-left:1%;}
.padding-right{padding-right:1%;}
.padding-top{padding-top:1%;}
.padding-bottom{padding-bottom:1%;}
.padding-horizontal{padding-left:1%;padding-right:1%;}
.padding-vertical{padding-top:1%;padding-bottom:1%;}
.padding-all{padding-left:1%;padding-right:1%;padding-top:1%;padding-bottom:1%;}
.margin-left{margin-left:1%;}
.margin-right{margin-right:1%;}
.margin-top{margin-top:1%;}
.margin-bottom{margin-bottom:1%;}
.margin-horizontal{margin-left:1%;margin-right:1%;}
.margin-vertical{margin-top:1%;margin-bottom:1%;}
.margin-all{margin-left:1%;margin-right:1%;margin-top:1%;margin-bottom:1%;}
.box{margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0.2em;-moz-border-radius:0.2em;border-radius:0.2em;width:100%;}
.box-23{margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0.2em;-moz-border-radius:0.2em;border-radius:0.2em;width:100%;width:66%;}
.box-2{margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0.2em;-moz-border-radius:0.2em;border-radius:0.2em;width:100%;width:50%;}
.box-3{margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0.2em;-moz-border-radius:0.2em;border-radius:0.2em;width:100%;width:33%;}
.box-4{margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0.2em;-moz-border-radius:0.2em;border-radius:0.2em;width:100%;width:25%;}
.box-5{margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0.2em;-moz-border-radius:0.2em;border-radius:0.2em;width:100%;width:20%;}
.box.margin-all,.box.margin-horizontal{width:98%;}
.box.margin-left,.box.margin-right{width:99%;}
.box-23.margin-all,.box-23.margin-horizontal{width:64%;}
.box-23.margin-left,.box-23.margin-right{width:65%;}
.box-2.margin-all,.box-2.margin-horizontal{width:48%;}
.box-2.margin-left,.box-2.margin-right{width:49%;}
.box-3.margin-all,.box-3.margin-horizontal{width:31%;}
.box-3.margin-left,.box-3.margin-right{width:32%;}
.box-4.margin-all,.box-4.margin-horizontal{width:23%;}
.box-4.margin-left,.box-4.margin-right{width:24%;}
.box-5.margin-all,.box-5.margin-horizontal{width:18%;}
.box-5.margin-left,.box-5.margin-right{width:19%;}
.button.red,input[type="submit"].button.red{border-width:1px;border-style:solid;border-color:#ee2b2b;background-color:#e63333;color:#ffffff;}.button.red:hover,input[type="submit"].button.red:hover{color:#ffffff;background-color:#ee2b2b;}
.button.orange,input[type="submit"].button.orange{border-width:1px;border-style:solid;border-color:#ee902b;background-color:#e68f33;color:#ffffff;}.button.orange:hover,input[type="submit"].button.orange:hover{color:#ffffff;background-color:#ee902b;}
.button.yellow,input[type="submit"].button.yellow{border-width:1px;border-style:solid;border-color:#efd634;background-color:#e7d03c;color:#ffffff;}.button.yellow:hover,input[type="submit"].button.yellow:hover{color:#ffffff;background-color:#efd634;}
.button.green,input[type="submit"].button.green{border-width:1px;border-style:solid;border-color:#2dd280;background-color:#36c980;color:#ffffff;}.button.green:hover,input[type="submit"].button.green:hover{color:#ffffff;background-color:#2dd280;}
.button.blue,input[type="submit"].button.blue{border-width:1px;border-style:solid;border-color:#2badee;background-color:#33aae6;color:#ffffff;}.button.blue:hover,input[type="submit"].button.blue:hover{color:#ffffff;background-color:#2badee;}
.button.purple,input[type="submit"].button.purple{border-width:1px;border-style:solid;border-color:#994ce6;background-color:#9954de;color:#ffffff;}.button.purple:hover,input[type="submit"].button.purple:hover{color:#ffffff;background-color:#994ce6;}
.button.pink,input[type="submit"].button.pink{border-width:1px;border-style:solid;border-color:#e64cb5;background-color:#de54b2;color:#ffffff;}.button.pink:hover,input[type="submit"].button.pink:hover{color:#ffffff;background-color:#e64cb5;}
.button.black,input[type="submit"].button.black{border-width:1px;border-style:solid;border-color:#000000;background-color:#000000;color:#ffffff;}.button.black:hover,input[type="submit"].button.black:hover{color:#ffffff;background-color:#000000;}
.button.grey,input[type="submit"].button.grey{border-width:1px;border-style:solid;border-color:#808080;background-color:#808080;color:#ffffff;}.button.grey:hover,input[type="submit"].button.grey:hover{color:#ffffff;background-color:#808080;}
.button.white,input[type="submit"].button.white{border-width:1px;border-style:solid;border-color:#cccccc;background-color:#fafafa;color:#000000;}.button.white:hover,input[type="submit"].button.white:hover{color:#000000;background-color:#ffffff;}
.red{color:#ee2b2b;}
.orange{color:#ee902b;}
.yellow{color:#efd634;}
.green{color:#2dd280;}
.blue{color:#2badee;}
.purple{color:#994ce6;}
.pink{color:#e64cb5;}
.black{color:#000000;}
.grey{color:#808080;}
.white{background-color:#ffffff;}
.red-bg{background-color:#ee2b2b;}
.orange-bg{background-color:#ee902b;}
.yellow-bg{background-color:#efd634;}
.green-bg{background-color:#2dd280;}
.blue-bg{background-color:#2badee;}
.purple-bg{background-color:#994ce6;}
.pink-bg{background-color:#e64cb5;}
.black-bg{background-color:#000000;}
.grey-bg{background-color:#808080;}
.white-bg{background-color:#ffffff;}
.messages{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;}
.notice{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:2em;line-height:2em;color:#efd634;background-color:#f2df63;}
.success{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:2em;line-height:2em;color:#efd634;background-color:#f2df63;}
.error{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:2em;line-height:2em;color:#efd634;background-color:#f2df63;}
textarea{height:5em;min-height:5em;}
nav a{padding-left:0.5em;padding-right:0.5em;}
footer nav{font-size:0.875em;}
.langs{margin-right:2em;font-size:0.75em;}
.searchbox{float:left;display:inline-block;width:450px;padding-top:1em;}
.searchbox input[type="text"]{display:inline-block;float:left;width:65%;height:2.875em;line-height:2.875em;padding-left:0.75em;}
.searchbox input[type="submit"]{display:inline-block;float:right;width:30%;}
.search-result-object{float:left;width:20%;margin:2.5%;}
.search-result-object .label{padding:0.25em;margin:0.5em 0;}
.interactions{display:inline-block;float:right;text-align:right;}
.interaction{display:inline-block;width:90px;font-size:0.5em;line-height:1em;height:1em;margin-left:0.25em;margin-right:0.25em;}
.interaction input[type="submit"]{background-color:#efd634;}
.interaction:hover input[type="submit"]{background-color:#dec312;}
.discussion{float:left;margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0.2em;-moz-border-radius:0.2em;border-radius:0.2em;width:100%;width:50%;background-color:#f2f2f2;margin:1em 0;padding:0.5em;}.discussion label{background-color:#f2f2f2;}
.account .star,.account .follow,.account .comment,.account .taxonomy{background-color:#e6e6e6;margin-right:1.5em;margin-bottom:0.5em;padding:0.5em;}
.account .star:before{content:"\2605";}
.account .follow:before{content:"\274A";}
.account .comment:before{content:"\27A6";}
.account .taxonomy:before{content:"\2744";}
.entity-preview{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;float:left;width:23%;background-color:#e6e6e6;margin-right:1%;margin-left:1%;margin-bottom:0.5em;padding:0.25em 0.25em 0 0.25em;}.entity-preview h3 span{font-size:0.75em;}
.entity-preview .context{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;float:left;text-align:right;font-size:0.825em;background-color:#d9d9d9;padding:0.125em 0.5em 0.125em 0.125em;margin-left:-1%;}
.entity-preview .data-status{font-size:0.825em;}
.taxonomy-status{margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0.2em;-moz-border-radius:0.2em;border-radius:0.2em;width:100%;width:25%;display:inline-block;text-align:center;float:right;color:white;}.taxonomy-status.published{background-color:#2dd280;}
.taxonomy-status.draft{background-color:#ee902b;}
