/*** ADAPTABL ***/
/* FOUNDATION */
/* TYPOGRAPHY */
/* FLOW */
/* RESPONSE */
/* CORE MIXINS */
.wrapper {
  margin: 0 auto;
  overflow: auto;
  width: 100%;
}
@media only screen and (min-width : 960px) {
  .wrapper {
    width: 960px;
  }
}
.row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  clear: both;
}
/*

Default look and feel for standard HTML elements.

*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
a img {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
body,
html {
  direction: rtl;
  text-align: right;
  float: right;
  width: 100%;
  font-size: 1em;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.025em;
  color: #9191ac;
}
@media only screen and (min-width : 480px) {
  body,
  html {
    -webkit-text-size-adjust: none;
  }
}
header,
nav,
#main,
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  clear: both;
}
article {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5%;
}
@media only screen and (min-width : 960px) {
  article {
    float: right;
    width: 75%;
  }
}
aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 3%;
}
@media only screen and (min-width : 960px) {
  aside {
    float: right;
    width: 25%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.25em;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
h1 {
  font-size: 1.75em;
  color: #000000;
}
h2 {
  font-size: 1.5em;
  color: #333333;
}
h3 {
  font-size: 1.25em;
  color: #404040;
}
h4 {
  font-size: 1.125em;
  color: #4d4d4d;
}
h5 {
  font-size: 1.075em;
  color: #595959;
}
h6 {
  font-size: 1.025em;
  color: #595959;
}
div,
p,
ol ul,
li,
input,
select,
textarea,
label,
blockquote,
pre,
code {
  font-weight: 300;
}
p,
ol ul,
input,
select,
textarea,
label,
blockquote,
pre,
code {
  margin-bottom: 1em;
}
ol,
ul {
  margin-left: 2em;
}
blockquote {
  font-size: 2em;
  line-height: 1.125em;
  font-family: Georgia, serif;
  font-style: italic;
}
a {
  color: #2badee;
}
a:hover {
  color: #0d73a5;
}
pre {
  border: 1px dotted #990066;
  padding: 10px;
  background-color: #383838;
  color: #EBEBEB;
  word-wrap: break-word;
}
code {
  font-family: monospace;
  font-size: 1em;
  word-wrap: break-word;
}
/*forms*/
input,
select,
select[multiple],
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  font-size: 1em;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.025em;
  color: #9191ac;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  margin-bottom: 1em;
  -webkit-outline-offset: 0;
  color: #4d4d4d;
}
input:focus,
select:focus,
select[multiple]:focus,
textarea:focus {
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d0edfb;
  -webkit-box-shadow: 0 0 6px 0 #d0edfb;
  -moz-box-shadow: 0 0 6px 0 #d0edfb;
  box-shadow: 0 0 6px 0 #d0edfb;
}
input:hover,
select:hover,
select[multiple]:hover,
textarea:hover {
  cursor: pointer;
}
label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  font-size: 1em;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.025em;
  color: #9191ac;
  margin-bottom: 0;
}
textarea {
  min-height: 5em;
}
input[type="checkbox"] {
  clear: none;
  float: none;
  width: 10%;
}
label.for-checkbox {
  float: none;
  clear: none;
  width: 90%;
}
input[type="file"] {
  border: none;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}
select[multiple] {
  min-height: 4em;
}
/*tables*/
table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1em solid #cccccc;
}
table tr:nth-of-type(even) {
  background-color: #f7f7f7;
}
table tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table td {
  border: none;
  padding: 2px 6px;
}
table td tr td {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
table .actions {
  text-align: center;
  width: 4em;
}
table .actions .button {
  clear: both;
  float: left;
  width: 3em;
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}
table thead {
  font-weight: bold;
}
table thead tr,
table thead tr:nth-of-type(odd) {
  background-color: #cccccc;
  height: 2.5em;
}
table thead tr td a,
table thead tr:nth-of-type(odd) td a {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  padding-right: 5%;
  padding-left: 1%;
  background-color: #C2C2C2;
  color: #141414;
  text-decoration: none;
}
table thead tr td a:hover,
table thead tr:nth-of-type(odd) td a:hover {
  background-color: #F5F5F5;
}
/*

A bunch of mixins for box-level functionality.

*/
/*

*/
/* STICKY FOOTER

div's must look like this for sticky footer to work:


- html
  - head
  - /head

  - body

    - #sticky
      - (all but footer inside here)
    - /#sticky

    - footer
    - /footer

  - /body

- /html


*/
html,
body,
#sticky {
  height: 100%;
  /* sticky footer */

}
section#main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  padding-bottom: 10em;
  /* sticky footer */

}
footer {
  clear: both;
  position: relative;
  /* sticky footer */

  margin-top: -10em;
  /* sticky footer */

  height: 10em;
  /* sticky footer */

}
/*

Adaptabl typography.

*/
/*

The Adaptabl button.

*/
.button {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  border-width: 1px;
  border-style: solid;
  border-color: #e8e8ed;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  line-height: 2.25em;
  white-space: nowrap;
  background-color: #ebebeb;
  color: #ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.button:hover {
  color: #e8e8e8;
  background-color: #f6f6f8;
}
.red {
  color: #ee2b2b;
}
.red-bg {
  background-color: #ee2b2b;
}
.red.button {
  border-width: 1px;
  border-style: solid;
  border-color: #ee2b2b;
  background-color: #dd3c3c;
  color: #ffffff;
}
.red.button:hover {
  background-color: #ee2b2b;
}
.orange {
  color: #ee902b;
}
.orange-bg {
  background-color: #ee902b;
}
.orange.button {
  border-width: 1px;
  border-style: solid;
  border-color: #ee902b;
  background-color: #dd8f3c;
  color: #ffffff;
}
.orange.button:hover {
  background-color: #ee902b;
}
.yellow {
  color: #efd634;
}
.yellow-bg {
  background-color: #efd634;
}
.yellow.button {
  border-width: 1px;
  border-style: solid;
  border-color: #efd634;
  background-color: #deca45;
  color: #ffffff;
}
.yellow.button:hover {
  background-color: #efd634;
}
.green {
  color: #61c1cc;
}
.green-bg {
  background-color: #61c1cc;
}
.green.button {
  border-width: 1px;
  border-style: solid;
  border-color: #61c1cc;
  background-color: #71b5bc;
  color: #ffffff;
}
.green.button:hover {
  background-color: #61c1cc;
}
.blue {
  color: #2badee;
}
.blue-bg {
  background-color: #2badee;
}
.blue.button {
  border-width: 1px;
  border-style: solid;
  border-color: #2badee;
  background-color: #3ca7dd;
  color: #ffffff;
}
.blue.button:hover {
  background-color: #2badee;
}
.purple {
  color: #994ce6;
}
.purple-bg {
  background-color: #994ce6;
}
.purple.button {
  border-width: 1px;
  border-style: solid;
  border-color: #994ce6;
  background-color: #995cd6;
  color: #ffffff;
}
.purple.button:hover {
  background-color: #994ce6;
}
.pink {
  color: #ff0059;
}
.pink-bg {
  background-color: #ff0059;
}
.pink.button {
  border-width: 1px;
  border-style: solid;
  border-color: #ff0059;
  background-color: #ec135f;
  color: #ffffff;
}
.pink.button:hover {
  background-color: #ff0059;
}
.black {
  color: #000000;
}
.black-bg {
  background-color: #000000;
}
.black.button {
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
}
.black.button:hover {
  background-color: #000000;
}
.grey {
  color: #e8e8ed;
}
.grey-bg {
  background-color: #e8e8ed;
}
.grey.button {
  border-width: 1px;
  border-style: solid;
  border-color: #e8e8ed;
  background-color: #ebebeb;
  color: #ffffff;
}
.grey.button:hover {
  background-color: #e8e8ed;
}
.white {
  color: #ffffff;
}
.white-bg {
  background-color: #ffffff;
}
.white.button {
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  background-color: #ffffff;
  color: #000000;
}
.white.button:hover {
  background-color: #ffffff;
}
/*

A bunch of helper mixins that cover really common CSS rules.

*/
.box-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 50%;
}
.box-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 33%;
}
/* PALETTE */
body,
html {
  background-color: #d0d0dc;
  color: #444474;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #070746;
}
a {
  color: #070746;
}
#name-form input {
  color: #070746;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 36px;
  height: 48px;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  border-bottom: none;
  background-color: transparent;
}
#name-form input:focus {
  border-bottom: 1px solid #9191ac;
}
#name-form input.invalid {
  padding-left: 18px;
  background-image: url('/static/img/invalid.png');
  background-repeat: no-repeat;
  background-position: 18px 12px;
}
#name-form input.valid {
  padding-left: 18px;
  background-image: url('/static/img/valid.png');
  background-repeat: no-repeat;
  background-position: 18px 12px;
}
.avatar,
.avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
}
/******************/
/****  FORMS   ****/
/******************/
.button:disabled,
.button.disabled {
  background-color: #b1b1c3;
  color: #070746;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
}
.button:disabled:hover,
.button.disabled:hover {
  background-color: #b1b1c3;
  color: #070746;
}
.button {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  border-radius: 0;
  border: none;
  border-bottom: none;
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  background-color: #00ccc2;
  color: #ffffff;
}
.field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  position: relative;
}
.field .help {
  top: 8px;
  left: 18px;
  display: none;
  position: absolute;
  color: #a4a4bc;
  font-size: 0.75em;
}
.field input {
  cursor: pointer;
  color: #070746;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 18px;
  padding-right: 18px;
  height: 2.5em;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  border-bottom: 1px solid #d0d0dc;
  background-color: #f3f3f6;
}
.field input:focus {
  background-color: #ffffff;
}
.field input.invalid {
  padding-left: 18px;
  background-image: url('/static/img/invalid.png');
  background-repeat: no-repeat;
  background-position: 18px 12px;
}
.field input.valid {
  padding-left: 18px;
  background-image: url('/static/img/valid.png');
  background-repeat: no-repeat;
  background-position: 18px 12px;
}
.field.half {
  width: 50%;
}
.field.half.first input {
  border-right: 1px solid #d0d0dc;
}
/*user profile*/
.identity {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  clear: both;
  margin-top: 2.5em;
}
.identity .avatar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 40%;
}
.identity .name {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 60%;
  font-size: 2.5em;
  line-height: 1em;
  color: #e8e8ed;
}
.identity .email {
  color: #e8e8ed;
}
.identity .email,
.identity .language,
.identity .password,
.identity .developer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  margin-top: 0.5em;
}
.identity .email a,
.identity .language a,
.identity .password a,
.identity .developer a {
  text-decoration: none;
  font-weight: bold;
}
#filter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  clear: both;
}
#filter select {
  background: transparent;
  width: 60px;
  padding: 5px;
  font-size: 1em;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  color: #070746;
  font-weight: bold;
  line-height: 1em;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
#filter .arrow {
  content: 'this';
}
#activities {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  clear: both;
  margin-top: 2.5em;
}
#activities h1 {
  font-size: 2.5em;
}
#activities .activity {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100%;
  clear: both;
  height: 120px;
}
#activities .activity .desc {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 80%;
  padding-left: 0;
  padding-right: 10%;
  padding-top: 1em;
}
#activities .activity .snippet {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 20%;
  background-color: #f3f3f6;
  height: 120px;
  border-top: 1px solid #d0d0dc;
}
#activities .activity .snippet:first-of-type {
  border-top: none;
}
#activities .activity h3 {
  font-size: 1em;
  margin-bottom: 0.5em;
}
#activities .activity h3 .sub {
  color: #f3f3f6;
}
#activities .activity h2 {
  font-size: 2.5em;
  line-height: 1em;
}
/******************/
/**** OVERLAYS ****/
/******************/
/* The background for all overlay objects */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
#overlay .close {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
}
/* A mixin that declares the base style of all overlay objects */
#overlay-login {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 290px;
  background-color: #d0d0dc;
  display: none;
  height: auto;
  position: fixed;
  top: 25%;
  left: 35%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Disabled inputs don't catch events.
    We place this on top of the action,
    as long as the submit is disabled
    */

}
#overlay-login h3,
#overlay-login .notices,
#overlay-login .options {
  padding-left: 18px;
  padding-right: 18px;
}
#overlay-login h3 {
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-login a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-login a.weak {
  color: #a4a4bc;
}
#overlay-login a.strong {
  color: #070746;
}
#overlay-login .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 70%;
  color: #ff0059;
  font-size: 0.875em;
  height: 2.5em;
  line-height: 2.5em;
}
#overlay-login .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 30%;
  position: relative;
}
#overlay-login .disabled-event-catcher {
  position: absolute;
  cursor: pointer;
  height: 2em;
  top: 0;
  left: 0;
  left: 0;
  width: 100%;
}
#overlay-login .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-login .options:last-of-type {
  text-align: right;
}
#overlay-login .options:last-of-type {
  text-align: left;
}
#overlay-register {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 290px;
  background-color: #d0d0dc;
  display: none;
  height: auto;
  position: fixed;
  top: 25%;
  left: 35%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Disabled inputs don't catch events.
    We place this on top of the action,
    as long as the submit is disabled
    */

}
#overlay-register h3,
#overlay-register .notices,
#overlay-register .options {
  padding-left: 18px;
  padding-right: 18px;
}
#overlay-register h3 {
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-register a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-register a.weak {
  color: #a4a4bc;
}
#overlay-register a.strong {
  color: #070746;
}
#overlay-register .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 70%;
  color: #ff0059;
  font-size: 0.875em;
  height: 2.5em;
  line-height: 2.5em;
}
#overlay-register .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 30%;
  position: relative;
}
#overlay-register .disabled-event-catcher {
  position: absolute;
  cursor: pointer;
  height: 2em;
  top: 0;
  left: 0;
  left: 0;
  width: 100%;
}
#overlay-register .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-register .options:last-of-type {
  text-align: right;
}
#overlay-register .options:last-of-type {
  text-align: left;
}
#overlay-password-reset {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 290px;
  background-color: #d0d0dc;
  display: none;
  height: auto;
  position: fixed;
  top: 25%;
  left: 35%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Disabled inputs don't catch events.
    We place this on top of the action,
    as long as the submit is disabled
    */

}
#overlay-password-reset h3,
#overlay-password-reset .notices,
#overlay-password-reset .options {
  padding-left: 18px;
  padding-right: 18px;
}
#overlay-password-reset h3 {
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-password-reset a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-password-reset a.weak {
  color: #a4a4bc;
}
#overlay-password-reset a.strong {
  color: #070746;
}
#overlay-password-reset .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 70%;
  color: #ff0059;
  font-size: 0.875em;
  height: 2.5em;
  line-height: 2.5em;
}
#overlay-password-reset .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 30%;
  position: relative;
}
#overlay-password-reset .disabled-event-catcher {
  position: absolute;
  cursor: pointer;
  height: 2em;
  top: 0;
  left: 0;
  left: 0;
  width: 100%;
}
#overlay-password-reset .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-password-reset .options:last-of-type {
  text-align: right;
}
#overlay-password-reset .options:last-of-type {
  text-align: left;
}
#overlay-password-change {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 290px;
  background-color: #d0d0dc;
  display: none;
  height: auto;
  position: fixed;
  top: 25%;
  left: 35%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Disabled inputs don't catch events.
    We place this on top of the action,
    as long as the submit is disabled
    */

}
#overlay-password-change h3,
#overlay-password-change .notices,
#overlay-password-change .options {
  padding-left: 18px;
  padding-right: 18px;
}
#overlay-password-change h3 {
  padding-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}
#overlay-password-change a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875em;
}
#overlay-password-change a.weak {
  color: #a4a4bc;
}
#overlay-password-change a.strong {
  color: #070746;
}
#overlay-password-change .notices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 70%;
  color: #ff0059;
  font-size: 0.875em;
  height: 2.5em;
  line-height: 2.5em;
}
#overlay-password-change .action {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 30%;
  position: relative;
}
#overlay-password-change .disabled-event-catcher {
  position: absolute;
  cursor: pointer;
  height: 2em;
  top: 0;
  left: 0;
  left: 0;
  width: 100%;
}
#overlay-password-change .options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 50%;
  font-size: 0.875em;
  height: 2em;
}
#overlay-password-change .options:last-of-type {
  text-align: right;
}
#overlay-password-change .options:last-of-type {
  text-align: left;
}
/******************/
/****  PANELS  ****/
/******************/
#nav-panel {
  z-index: 99;
  display: none;
  position: fixed;
  top: 0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 300px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 50px;
  padding-right: 16px;
  height: 100%;
  background-color: #61c1cc;
}
#nav-panel #app_logo {
  padding-top: 35px;
  padding-bottom: 35px;
}
#nav-panel header nav {
  width: 100%;
}
#nav-panel header nav a {
  display: block;
  font-size: 3em;
  line-height: 1em;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 26px;
  padding-left: 0;
  padding-right: 0;
  /*overriding adaptabl crap*/

}
#nav-panel footer {
  position: absolute;
  left: 40;
  bottom: 0;
  height: 94px;
  font-size: 0.75em;
}
#nav-panel footer nav a {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 26px;
  font-size: 1em;
  color: #1d7781;
}
#nav-anchor {
  display: inline-block;
  cursor: pointer;
}
#nav-anchor a {
  text-decoration: none;
  font-weight: bold;
}
#action-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 300px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 40px;
  padding-right: 16px;
  height: 100%;
}
#content-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 860px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 40px;
  padding-right: 0;
  height: 100%;
  background-color: #ffffff;
  overflow: scroll;
}
#append-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 100px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 16px;
  height: 100%;
}
.account .actions {
  display: none;
  background-color: #e8e8ed;
}
.account .actions a {
  display: block;
}
/*...BOOM...*/
.field.half.first input {
  border-left: 1px solid #d0d0dc;
}
#overlay .close {
  right: none;
  left: 10px;
}
.overlay-object .options:last-of-type {
  text-align: left;
}
#nav-panel {
  right: 0;
  padding-right: 50px;
}
#nav-panel footer {
  right: 40;
}
#nav-panel footer nav a {
  padding-right: 0;
  padding-left: 26px;
}
#action-panel {
  padding-right: 40px;
  padding-left: 16px;
}
#append-panel {
  padding-right: 16px;
}
#content-panel {
  padding-right: 40px;
  padding-left: 0;
}
#activities .activity .desc {
  padding-right: 0;
  padding-left: 10%;
}
