{% extends 'base.html' %}
{% load i18n %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}importer/main.css"/>
{% endblock stylesheets %}

{% block main %}
<div id="importer" class="uijet_app">
    <div id="form_container">
        <h2 id="import_message"></h2>
        <p id="import_message_exp" class="hide">{% blocktrans %}
            File has been uploaded and validated, and will now be saved to the database.
            You will receive an email once saving process is complete.
        {% endblocktrans %}</p>
        <ul id="import_errors"></ul>
        <form id="import_form">
            <fieldset>
                <legend>{% trans 'Choose the data type for import' %}:</legend>
                <label><input type="radio" name="type" value="template"/>{% trans 'Template' %}</label>
                <label><input type="radio" name="type" value="sheet"/>{% trans 'Sheet' %}</label>
            </fieldset>
            <fieldset id="import_form_type_ext"></fieldset>
            <label for="sourcefile_input">{% trans 'Source file' %}:</label><input type="file" name="sourcefile" id="sourcefile_input"/>
            <span id="import_form_submit">{% trans 'Submit' %}</span>
        </form>
    </div>
</div>
{% endblock main %}

{% block js_body %}
<script>
    var BASE_URL = '{{ STATIC_URL }}',
        UPLOAD_URL = '{{ UPLOAD_URL }}',
        API_INDEX = 'http://api.{{ site|safe }}/',
        API_VERSION = 'v1';
</script>
<script src="{{ STATIC_URL }}lib/require.js" data-main="{{ STATIC_URL }}importer/main"></script>
{% endblock js_body %}
