{% extends 'projects/project_list.html' %}
{% load i18n interactions %}
{% load url from future %}

{% block title %}
{{ object.name }}
{% endblock title %}

{% block interactions %}
<span class="interactions">
{% if user.is_authenticated %}
{% follow object user %}
{% star object user %}
{% endif %}
</span>
{% endblock interactions %}

{% block content %}
<section id="project">
    <p>{{ object.description }}</p>
    <p>{% trans 'Author' %}: {{ object.author.first_name }} {{ object.author.last_name }}</p>
    <p>{% trans 'Last modified' %}: {{ object.last_modified }}</p>
</section>
{% endblock content %}
