{% extends 'base.html' %}
{% load i18n interactions %}
{% load url from future %}

{% block title %}
{% trans 'Projects' %}
{% endblock title %}

{% block interactions %}

{% endblock interactions %}

{% block content %}
<section>
{% for object in object_list %}
    {% if object.featured %}
    <div class="project">
        <h2>{{ object.name }}</h2>
        <p>{{ object.description }}</p>
        <p>{% trans 'Author' %}: {{ object.author.first_name }} {{ object.author.last_name }}</p>
        <p>{% trans 'Last modified' %}: {{ object.last_modified }}</p>
        <a href="{% url 'project_detail' object.uuid %}" title="">{% trans 'View' %}</a>
    </div>
    {% endif %}
{% endfor %}
</section>
{% endblock content %}
