{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{% trans 'Municipalities' %}
{% endblock title %}

{% block content %}

<section id="entities-active">
    {% for entity in entities_active %}
        <a href="{% url 'entity_detail' entity.slug %}">
            <h2>{{ entity.name }}</h2>
            <h3>{{ entity.division.name }}</h3>
        </a>
    {% endfor %}
</section>

<section id="entities-inactive">
    <h2>{% trans 'Soon' %}</h2>
    <div class="entity-index">
    {% regroup entities_inactive by index as entity_index %}
    {% for entity_set in entity_index %}
        <div class="set">
            <h3>{{ entity_set.grouper }}</h3>
            {% for entity in entity_set.list %}
            <p>{{ entity.name }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</section>

{% endblock content %}
