{% extends 'entities/entity_list.html' %}
{% load i18n interactions %}
{% load url from future %}

{% block title %}
{{ object.name }}
{% endblock title %}

{% block interactions %}
{% if user.is_authenticated %}
{% follow object user %}
{% star object user %}
{% endif %}
{% endblock interactions %}

{% block content %}
<p>
    <a href="{% url 'entity_list' %}">
        {% trans 'Back to all entities' %}
    </a>
</p>

<section>
    <div>
        {{ object.description }}
    </div>
</section>

<section>
    <h2>
        {% trans 'Budgets and Actuals' %}
    </h2>

    {% if not object.division.has_budgets %}
    <p>
        <strong>{{ object.name }}</strong> {% trans 'is a' %} {{ object.division.name }} {% trans 'of' %} {{ object.division.domain }}, {% trans 'and therefore does not declare budgets. It serves a purely administrative function.' %}
    </p>
    {% else %}

    {% if not object.budgets and not object.actuals %}
    <p>
        {% trans 'There are no Budgets or Actuals for this entity' %}.
    </p>
    {% else %}
    <div>
        <h3>
            {% trans 'Budgets available' %}...
        </h3>
        {% if not object.budgets.all %}
        <p>
            {% trans 'There are no Budgets this entity' %}.
        </p>
        {% else %}
        <ul>
        {% for budget in object.budgets.all %}
        <li>
            <a href="{% url 'budget_detail' budget.uuid %}">{{ budget.period }} {{ budget.total }}</a>
        </li>

        {% endfor %}
        </ul>
        {% endif %}
        <h3>
            {% trans 'Actuals available' %}...
        </h3>
        {% if not object.actuals.all %}
        <p>
            {% trans 'There are no Budgets this entity' %}.
        </p>
        {% else %}
        <ul>
        {% for actual in object.actuals.all %}
        <li>
            <a href="{% url 'actual_detail' actual.uuid %}">{{ actual.period }} {{ actual.total }}</a> {% if actual.has_budgets %}({{ actual.variance }}%){% endif %}
        </li>

        {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endif %}

    {% endif %}
</section>
{% endblock content %}
