{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base_rtl.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}entities/explorer/css/main.css"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <title>{% block metatitle %}{{ page.title }} | {{ site.name }}{% endblock metatitle %}</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raven.js/1.0.8/raven.min.js"></script>
</head>
<body>
    <div id="explorer" class="uijet_app">
        <section id="main_container" class="top_container">
            <header id="sheet_header">
                <span id="sheet_selector">
                    {% trans 'Budget' %}<span id="sheet_selector_content"></span>
                    <ul id="sheet_selector_menu">
                        {% for sheet in sheets %}<li data-id="{{ sheet.id }}">{{ sheet.period }}</li>{% endfor %}
                    </ul>
                </span>
                <ul id="items_breadcrumbs" data-prefix="{% trans 'Search under:' %}">
                    <li data-id="0">{% trans 'Main' %}</li>{{ items_breadcrumbs|safe }}
                </ul>
                <h2 id="sheet_scope_name">
                    <span id="sheet_scope_name_content">{{ scope_name }}</span>
                    <span id="search_crumb"></span>
                </h2>
                <input type="text" name="items_search" id="items_search" placeholder="{% trans 'Search' %}"/>
                <span id="filters_search"></span>
                <span id="items_search_exit"></span>
            </header>
            <section id="items_list_container">
                <ul id="items_list_header">
                    <li class="items_list_header_node" data-column="type"></li>
                    <li class="items_list_header_node" data-column="code">{% trans 'Order' %}</li>
                    <li class="items_list_header_node" data-column="name">{% trans 'Name' %}</li>
                    <li class="items_list_header_node" data-column="direction">{% trans 'Direction' %}</li>
                    <li class="items_list_header_node" data-column="budget">{% trans 'Budget' %}</li>
                    <li class="items_list_header_node" data-column="actual">{% trans 'Actual' %}</li>
                </ul>
                <ul id="items_list">
                    {{ items_list|safe }}
                </ul>
            </section>
            <footer id="items_list_footer">
                <span class="item_cell item_cell_type"></span>
                <span class="item_cell item_cell_code">{{ scope_item.code }}</span>
                <span class="item_cell item_cell_name"></span>
                <span class="item_cell item_cell_direction">{{ scope_item.direction }}</span>
                <span class="item_cell item_cell_budget amount">{{ scope_item.budget }}</span>
                <span class="item_cell item_cell_actual amount">{{ scope_item.actual}}</span>
            </footer>
        </section>
        <section id="right_container" class="top_container">
            <div id="right_edge_detector"></div>
            <span id="site_menu_open" class="small_heading">{% trans 'Open Muni Budget' %}</span>
            <h1 id="muni_name" class="right_menu_heading">{{ object.name }}</h1>
        </section>
        <section id="left_container" class="top_container">
            <span id="items_comments_close"></span>
            <section id="items_comments_container">
                
            </section>
        </section>

        <div id="panel-nav">
            {% include 'partials/nav-panel.html' %}
        </div>

        {% block overlays %}

            <div id="overlay"></div>
    
            {% include 'accounts/partials/account_login.html' %}
            {% include 'accounts/partials/account_register.html' %}
            {% include 'accounts/partials/account_password_reset.html' %}
    
            {% if user.is_authenticated %}
                {% include 'accounts/partials/account_password_change.html' %}
            {% endif %}

        {% endblock overlays %}
    </div>
    <script>
        var API_INDEX = 'http://api.{{ site|safe }}/',
            API_VERSION = 'v1';
            ENTITY = {{ object_json|safe }},
            SHEET = {{ sheet_json|safe }},
            ITEM = {{ scope_item_json|safe }},
            ITEMS_LIST = {{ items_list_json|safe }};
    </script>
    <script src="{% url 'entities_js_i18n' %}"></script>
    <script src="{{ STATIC_URL }}lib/require.js" data-main="{{ STATIC_URL }}entities/explorer/main"></script>
</body>
</html>
