{% extends 'base.html' %}
{% load i18n interactions %}
{% load url from future %}

{% block title %}
{% trans 'Code' %}: {{ object.node.code }} ({{ object.node.name }})
{% endblock title %}

{% block content %}
<section>
    <h2>
        {{ object.sheet.entity }} {{ object.sheet.period }} {% trans 'budget' %}
    </h2>
    <div>
        {% trans 'Budget Amount' %}: {{ object.budget }}
        <br />
        {% trans 'Actual Amount' %}: {{ object.actual }}
        <br />
        {{ object.description }}
    </div>
    <div>
        <a href="{% url 'sheet_detail' object.sheet.entity.slug object.sheet.period %}">{% trans 'Back to the Budget' %}</a>
        <br />
        <a href="{% url 'entity_detail' object.sheet.entity.slug %}">{% trans 'Back to the Entity' %}</a>
    </div>
</section>
{% include 'interactions/partials/_discussion.html' %}
{% endblock content %}
