{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
{{ object.geopol.name }} {{ object.year }} {% trans 'budget' %}
{% endblock title %}

{% block content %}
{% if object.items %}
{% for item in object.items %}
<p>
    <strong>{% trans 'Code' %}</strong>: {{ item.code }}
    <br />
    <strong>{% trans 'Explanation' %}</strong>: {{ item.explanation }}
    <br />
    <strong>{% trans 'Amount' %}</strong>: {{ item.amount }}
</p>
{% endfor %}
{% endif %}
{% endblock content %}